<div class="animated fadeIn">
    <div class="col-sm-12 p0">
        <div class="row">
            <div class="card">
                <div  class="tab-form-demo" ng-init="indextab = 1">
                    <uib-tabset active="indextab">
                        <uib-tab index="0" ui-sref="app.customer-relationship_category.list">
                            <uib-tab-heading>
                                {{'user.breadcrumb.contract_classification' | translate}}
                            </uib-tab-heading>
                        </uib-tab>
                        <uib-tab index="1">
                            <uib-tab-heading>
                                {{'relationship-classification.provider_categories' | translate}}
                            </uib-tab-heading>
                            <div class="row m-0">
                                <div class="col-lg-8 p0">
                                    <div class="">
                                        <table class="table table-custom table-striped table-hover" st-pipe="callServer" st-table="displayed">
                                            <thead>
                                                <tr>
                                                    <td colspan="4">
                                                        <div class="col-sm-3 clearfix p0">
                                                            <button ng-click="goToProviderClassificationStructure()">
                                                                {{'user.breadcrumb.relation_catageory' | translate}}</button>
                                                        </div>
                                                        <div class="col-sm-9 clearfix p0">
                                                            <div class="action-head mb0">
                                                                <div class="col-sm-5 p0 table-search pull-right">
                                                                    <input type="text" class="form-control" placeholder="{{'general.search' | translate}}" st-search="search_key" st-input-event="change">
                                                                    <i class="fa icon-search"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th st-sort="relationship_category_name" class="st-sort-ascent st-sort-descent">{{'category-relation.name' | translate}}</th>
                                                    <th st-sort="provider_relationship_category_quadrant" class="">{{'category-relation.quadrant' | translate}}</th>
                                                    <th st-sort="provider_relationship_category_status" class="">{{'general.status' | translate}}</th>
                                                    <th class="hand-symbol">{{'general.actions' | translate}}</th>
                                                </tr>
                                            </thead>

                                            <tbody ng-show="!isLoading && displayed.length>0">
                                                <tr ng-repeat="row in displayed">
                                                    <td>{{row.relationship_category_name}} ({{row.relationship_category_short_name | uppercase}})</td>
                                                    <td>{{row.provider_relationship_category_quadrant}}</td>
                                                    <td>
                                                        <span ng-if="row.provider_relationship_category_status == 1" class="green">{{'general.active' | translate}}</span>
                                                        <span ng-if="row.provider_relationship_category_status == 0" class="red">{{'general.inactive' | translate}}</span>
                                                    </td>
                                                    <td>
                                                        <a href="javascript:;" class="mr-1 gray" title="{{'general.edit' | translate}}" ng-click="updateCategory(row)">
                                                            <i class="icon-edit"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tbody ng-show="isLoading">
                                                <tr>
                                                    <td colspan="4" class="text-sm-center">{{'general.loading' | translate}}</td>
                                                </tr>
                                            </tbody>
                                            <tbody ng-show="!isLoading && displayed.length<=0">
                                                <tr>
                                                    <td colspan="4" class="text-sm-center">{{'general.no_data' | translate}}</td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td class="text-center" colspan="8">
                                                        <div class="paginator">
                                                            <span class="paginator-num" st-pagination="" st-items-by-page="displayCount" class="text-sm-center"></span>
                                                            <span class="paginator-dropdown" ng-if="totalRecords1>10">
                                                                <label>{{'general.records_per_page' | translate}}&nbsp;</label>
                                                                <select ng-model="displayCount" ng-change="defaultPages1(displayCount)"
                                                                    ng-options="item for item in pagesNumber" selected>
                                                                </select>
                                                            </span>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <div class="">
                                        <table class="table table-custom table-striped table-hover" st-pipe="callServer2" st-table="newList">
                                            <thead>
                                                <tr>
                                                    <td colspan="4">
                                                        <div class="col-sm-3 clearfix p0">
                                                                <b>{{'relationship-classification.additional_provider_categories' | translate}}</b>
                                                        </div>
                                                        <div class="col-sm-9 clearfix p0">
                                                            <div class="action-head mb0">
                                                                    <span class="pull-right ml-h" ng-if="(user.access=='ca')">
                                                                        <button class="btn btn-sm btn-primary btn-radius" ng-click="updateNewCategory()" type="button"><i class="icon-plus"></i>
                                                                            &nbsp;{{'general.ADD'|translate}}
                                                                    </button>
                                                                    </span>
                                                                <div class="col-sm-5 p0 table-search pull-right">
                                                                    <input type="text" class="form-control" placeholder="{{'general.search' | translate}}" st-input-event="change"
                                                                           st-search="search_key">
                                                                    <i class="fa icon-search"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th st-sort="relationship_category_name" class="st-sort-ascent st-sort-descent">{{'category-relation.name' | translate}}</th>
                                                    <th st-sort="provider_relationship_category_status" class="">{{'general.status' | translate}}</th>
                                                    <th class="hand-symbol">{{'general.actions' | translate}}</th> 
                                                </tr>
                                            </thead>
                                            <tbody ng-show="!isLoading && newList.length>0">
                                                <tr ng-repeat="row in newList">
                                                    <td>{{row.relationship_category_name}} ({{row.relationship_category_short_name | uppercase}})</td>
                                                    <td>
                                                        <span ng-if="row.provider_relationship_category_status == 1" class="green">{{'general.active' | translate}}</span>
                                                        <span ng-if="row.provider_relationship_category_status == 0" class="red">{{'general.inactive' | translate}}</span>
                                                    </td>
                                                    <td>
                                                        <a href="javascript:;" class="mr-1 gray" title="{{'general.edit' | translate}}" ng-click="updateNewCategory(row)">
                                                            <i class="icon-edit"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tbody ng-show="isLoading">
                                                <tr>
                                                    <td colspan="4" class="text-sm-center">{{'general.loading' | translate}}</td>
                                                </tr>
                                            </tbody>
                                            <tbody ng-show="!isLoading && newList.length<=0">
                                                <tr>
                                                    <td colspan="4" class="text-sm-center">{{'general.no_data' | translate}}</td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td class="text-center" colspan="8">
                                                        <div class="paginator">
                                                            <span class="paginator-num" st-pagination="" st-items-by-page="displayCount" class="text-sm-center"></span>
                                                            <span class="paginator-dropdown" ng-if="totalRecords2>10">
                                                                <label>{{'general.records_per_page' | translate}}&nbsp;</label>
                                                                <select ng-model="displayCount" ng-change="defaultPages2(displayCount)"
                                                                    ng-options="item for item in pagesNumber" selected>
                                                                </select>
                                                            </span>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-lg-4 pr0 pt5 pl-1 mb-h text-sm-center">
                                    <div class="dashboard-chart main_bubble_chart">
                                        <span class="title_2">
                                            <label class="ellipis">{{myDataSource.classficationRelation['low'] | isUndefinedOrNull}}</label>
                                        </span>
                                        <span class="title_1">
                                            <label class="ellipis">{{myDataSource.classficationRelation['high'] | isUndefinedOrNull}}</label>
                                        </span>
                                        <div fusioncharts height="390" width="100%" type="bubble" dataSource="{{myDataSource |json}}">
                                        </div>
                                        <span class="title_3">{{myDataSource.classficationRelation['left'] | isUndefinedOrNull}}</span>
                                        <span class="title_4">{{myDataSource.classficationRelation['right'] | isUndefinedOrNull}}</span>
                                    </div>
                    
                                </div>
                            </div>
                        </uib-tab>                    
                    </uib-tabset>
                </div>
            </div>
            <!-- tas end -->
        </div>
    </div>
</div>
<script type="text/javascript" src="plugins/angular-fusionchart/src/fusioncharts.js?ver=6.2.6"></script>
<script type="text/javascript" src="plugins/angular-fusionchart/src/fusioncharts.theme.fint.js?ver=6.2.6"></script>
<script type="text/javascript" src="plugins/angular-fusionchart/src/angular-fusioncharts.js?ver=6.2.6"></script>
<style>
    .nav-tabs .nav-item.active .nav-link {
        background: #FFF;
    }
</style>
 