<div class="add-customer">
    <div class="col-sm-12 p0">
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <strong>{{title | translate}} {{'providers.provider' | translate}}</strong>
                </div>
                <div class="card-block">
                    <form novalidate name="providerForm" ng-submit="providerForm.$valid && save(provider)">
                        <div class="clearfix">
                            <div class="col-md-6 form-group">
                                <label>{{'providers.id' | translate}} *</label>
                                <input type="text" class="form-control" ng-model="provider.unique_id" ng-disabled="!disabled" alpha-numeric name="provider_id" required/>
                                <span class="error-message" ng-if="providerForm.provider_id.$error.required && providerForm.$submitted">{{'general.required_field' | translate}}</span>
                            </div>
                            <div class="clearfix"></div>
                            <div class="custom-row">
                                <div class="col-md-6 form-group">
                                    <label>{{'providers.provider_name' | translate}} *</label>
                                    <input type="text" ng-model="provider.provider_name" class="form-control" name="provider_name" required/>
                                    <span class="error-message" ng-if="providerForm.provider_name.$error.required && providerForm.$submitted">{{'general.required_field' | translate}}</span>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>{{'providers.address' | translate}}</label>
                                    <input type="text" ng-model="provider.company_address" class="form-control" name="address"/>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-sm-6 form-group">
                                    <label>{{'providers.city' | translate}}</label>
                                    <input type="text" ng-model="provider.city" class="form-control" name="city"/>
                                </div>
                                 
                           

                                <div class="form-group col-sm-6">
                                    <label>{{'providers.country' | translate}}</label>
                                    <select chosen class="form-control"
                                        id="add-chosen"
                                        onchange="chosen()"
                                        allow-single-deselect="true"
                                        placeholder-text-single="'{{'normal.placeholder_countries' | translate}}'"
                                        name="country" ng-model="provider.country" ng-options="item.id_country as item.country_name for item in countriesList  | orderBy:'country_name'">
                                        <option value="">--{{'general.select' | translate}}--</option>
                                    </select>
                                </div>

                                <div class="col-sm-6 form-group">
                                    <label>{{'providers.vat' | translate}} </label>
                                    <input type="text" ng-model="provider.vat" class="form-control" name="vat"/>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label>{{'providers.postal_code' | translate}}</label>
                                    <input type="text" ng-model="provider.postal_code" class="form-control" name="postal_code"/>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label>{{'providers.category' | translate}} </label>
                                <select ng-model="provider.category_id" class="form-control" name="category_id"  
                                        ng-options="opt.id_provider_relationship_category as opt.relationship_category_name group by opt.type for opt in relationshipCategoryList">
                                <option value="">-- {{'general.select' | translate}} --</option>
                                </select>
                           </div>

                       <div class="form-group col-sm-6" ng-if="isEdit">
                        <label>{{'general.status' | translate}} *</label>
                        <select class="form-control" ng-model="provider.status" name="provider_status" required>
                            <option value="">-- {{'general.select' | translate}} --</option>
                            <option value="1">{{'general.active' | translate}}</option>
                            <option value="0">{{'general.inactive' | translate}}</option>
                        </select>
                        <span class="error-message" ng-if="providerForm.provider_status.$error.required && providerForm.$submitted">{{'general.required_field' | translate}}</span>
                     </div>    

                   <div class="clearfix"></div>
                      <div class="form-group col-sm-12">
                       <label>{{'providers.description' | translate}} </label>
                        <textarea type="text" ng-model="provider.description" class="form-control" name="description"  style="height: 80px;"></textarea>
                    </div>
                </div> <!-- custom row div close-->
                        <div class="clearfix"></div>
                         <h6 class="form-group border-b">
                            <label class="f16">{{'user.breadcrumb.relation_tags'| translate}} :</label>
                        </h6>
                        <div class="col-sm-12" style="padding: 0px 25px;">
                             <table class="w-100 provider-tag-form">
                                 <thead>
                                     <tr>
                                        <th class="provider-name-th"></th>
                                        <th class="provider-radio-th"></th>
                                     </tr>
                                 </thead>
                                 <tbody ng-repeat="providerTags in tagsBuilding track by $index">
                                     <tr ng-repeat="tag in providerTags.tag_details track by $index"  ng-if="tag.tag_type == 'rag' && tag.bu_name==null" > {{$index}}
                                         <td>{{tag.tag_text}}</td>
                                         <td class="provider-tag-radio">
                                            <div class="radio_widget">
                                                <span ng-repeat="option in tag.options">  
                                                    <input type="radio" id="radio1_{{$index}}_{{tag.id_tag}}" name="same_{{tag.id_tag}}" value="{{option.id_tag_option}}"
                                                        checked ng-model="provider.grouped_tags[tag.id_tag]" ng-disabled="row.readOnly">
                                                     <label ng-if="option.tag_option_name == 'G'" for="radio1_{{$index}}_{{tag.id_tag}}" class="first_label" uib-tooltip="Green" ng-disabled="row.readOnly"></label>
                                                    <label ng-if="option.tag_option_name == 'A'" for="radio1_{{$index}}_{{tag.id_tag}}" class="sec_label" uib-tooltip="Amber" ng-disabled="row.readOnly"></label>
                                                    <label ng-if="option.tag_option_name == 'R'" for="radio1_{{$index}}_{{tag.id_tag}}" class="third_label" uib-tooltip="Red" ng-disabled="row.readOnly"></label>
                                                    <label ng-if="option.tag_option_name == 'N/A'" for="radio1_{{$index}}_{{tag.id_tag}}" class="fourth_label" uib-tooltip="Not Applicable" ng-disabled="row.readOnly"></label> 
                                                </span>
                                                <span>
                                                    <i class="fa fa-undo fa-lg pull-right" style="cursor: pointer; font-size: 14px;line-height: 23px;"
                                                    ng-if="provider.grouped_tags[tag.id_tag]"   
                                                        ng-click="provider.grouped_tags[tag.id_tag]=''"></i>
                                                </span>
                                            </div> 
                                         </td> 
                                         <td class="provider-comment-td" >
                                            <span>
                                                <input type="text" class="form-control" id="feedback_{{tag.id_tag}}" value="{{option.id_tag_option}}" 
                                                     ng-model="provider.grouped_tags.feedback[tag.id_tag]">

                                            </span>
                                         </td>
                                     </tr>
                                 </tbody>
                             </table>
                        </div>
                           
                        <div class="clearfix"></div>
                        

                        <div class="col-sm-12 custom-row tagsGrouping" ng-repeat="providerTags in tagsBuilding"
                            ng-if=" !providerTags.bu_name">
                            <div class="form-group col-sm-4" ng-repeat="tag in providerTags.tag_details"
                                ng-if="tag.tag_type!='rag'">
                                <label class="label-control ellipis w_95">{{tag.tag_text}}</label>
                                <input type="text" ng-if="tag.tag_type == 'input' && tag.field_type == 'text'"
                                    class="form-control" ng-model="provider.grouped_tags[tag.tag_id]">
                                <input type="text" only-digits
                                    ng-if="tag.tag_type == 'input' && tag.field_type == 'number'" class="form-control"
                                    ng-model="provider.grouped_tags[tag.tag_id]">
                                <input type="text" ng-if="tag.tag_type == 'input' && tag.field_type == 'currency'"
                                    maxlength="30" ui-number-mask="0" class="form-control"
                                    ng-model="provider.grouped_tags[tag.tag_id]">

                                <select ng-if="tag.tag_type == 'dropdown'&& tag.multi_select=='0'" ng-model="provider.grouped_tags[tag.tag_id]"
                                    class="form-control"
                                    ng-options="item.id_tag_option as item.tag_option_name for item in tag.options">
                                    <option value="">-- {{'general.select' |translate}} --</option>
                                </select>

                                <select ng-if="tag.tag_type == 'radio'" ng-model="provider.grouped_tags[tag.tag_id]"
                                    class="form-control"
                                    ng-options="item.id_tag_option as item.tag_option_name for item in tag.options">
                                    <option value="">-- {{'general.select' |translate}} --</option>
                                </select>

                                <select ng-if="tag.tag_type == 'selected' && tag.selected_field =='contract' && tag.multi_select=='0'"
                                    ng-model="provider.grouped_tags[tag.tag_id]" class="form-control"
                                    ng-options="item.id_contract as item.contract_name for item in selectedInfoContract">
                                    <option value="">-- {{'general.select' |translate}} --</option>
                                </select>
                                <select ng-if="tag.tag_type == 'selected' && tag.selected_field =='project' && tag.multi_select=='0'"
                                    ng-model="provider.grouped_tags[tag.tag_id]" class="form-control"
                                    ng-options="item.id_project as item.contract_name for item in selectedInfoProject">
                                    <option value="">-- {{'general.select' |translate}} --</option>
                                </select>
                                <select ng-if="tag.tag_type == 'selected' && tag.selected_field =='relation' && tag.multi_select=='0'"
                                    ng-model="provider.grouped_tags[tag.tag_id]" class="form-control"
                                    ng-options="item.id_provider as item.provider_name for item in selectedInfoProvider">
                                    <option value="">-- {{'general.select' |translate}} --</option>
                                </select>
                                <select ng-if="tag.tag_type == 'selected' && tag.selected_field =='catalogue' && tag.multi_select=='0'"
                                    ng-model="provider.grouped_tags[tag.tag_id]" class="form-control"
                                    ng-options="item.id_catalogue as item.catalogue_name for item in selectedInfoCatalogue">
                                    <option value="">-- {{'general.select' |translate}} --</option>
                                </select>

                                <select ng-if="tag.tag_type == 'dropdown' && tag.multi_select=='1'"
                                    chosen id="add-chosen" allow-single-deselect="true" multiple
                                    ng-model="provider.grouped_tags[tag.tag_id]" name="tag_answer"
                                    class="chosen-choices" placeholder="select field"
                                    ng-options="item.id_tag_option as item.tag_option_name for item in tag.options">
                                </select>

                                <select ng-if="tag.tag_type == 'selected' && tag.selected_field =='contract' && tag.multi_select=='1'"
                                    chosen id="add-chosen" allow-single-deselect="true" multiple
                                    ng-model="provider.grouped_tags[tag.tag_id]" name="tag_answer"
                                    class="chosen-choices" placeholder="select field"
                                    ng-options="item.id_contract as item.contract_name for item in selectedInfoContract">
                                </select>

                                <select ng-if="tag.tag_type == 'selected' && tag.selected_field =='project' && tag.multi_select=='1'"
                                    chosen id="add-chosen" allow-single-deselect="true" multiple
                                    ng-model="provider.grouped_tags[tag.tag_id]" name="tag_answer"
                                    class="chosen-choices" placeholder="select field"
                                    ng-options="item.id_project as item.contract_name for item in selectedInfoProject">
                                </select>

                                <select ng-if="tag.tag_type == 'selected' && tag.selected_field =='relation' && tag.multi_select=='1'"
                                    chosen id="add-chosen" allow-single-deselect="true" multiple
                                    ng-model="provider.grouped_tags[tag.tag_id]" name="tag_answer"
                                    class="chosen-choices" placeholder="select field"
                                    ng-options="item.id_provider as item.provider_name for item in selectedInfoProvider">
                                </select>

                                <select ng-if="tag.tag_type == 'selected' && tag.selected_field =='catalogue' && tag.multi_select=='1'"
                                    chosen id="add-chosen" allow-single-deselect="true" multiple
                                    ng-model="provider.grouped_tags[tag.tag_id]" name="tag_answer"
                                    class="chosen-choices" placeholder="select field"
                                    ng-options="item.id_catalogue as item.catalogue_name for item in selectedInfoCatalogue">
                                </select>

                                <div ng-if="tag.tag_type =='date'" style="display: flex;">
                                    <input type="text" class="form-control white-bg bg-white"
                                        uib-datepicker-popup="dd-MM-yyyy" ng-model="provider.grouped_tags[tag.tag_id]"
                                        name="date" is-open="openCal11" datepicker-options="{showWeeks:false}"
                                        show-button-bar="false" readonly>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default border"
                                            ng-click="openCal11 = true">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 custom-row p0" ng-repeat="providerTags in tagsBuilding" ng-if="providerTags.bu_name">
                            <uib-accordion class="card widget2 inputs-accordion"
                                style="margin-bottom:5px !important;width: 100%;border:0 !important" close-others="oneAtATime">
                                <div uib-accordion-group class="panel-default" heading="Stakeholders"
                                    template-url="group-template0.html" ng-init="open=false;" is-open="open">
                                    <uib-accordion-heading ng-click="open= !open">
                                        <span style="width: 20px;">
                                            <i class="glyphicon"
                                                ng-class="{'fa-solid fa-caret-down': open,'fa-solid fa-caret-right': !open}"
                                                style="color: #000;font-size: 18px;"></i>
                                        </span>
                                        <span
                                            style="z-index: 2;background-color: #fff;padding-right: 5px;">{{providerTags.bu_name}} ({{providerTags.count}})</span>
                                    </uib-accordion-heading>
                                    <div class="card-block" style="padding:7px 12px;">
                                        <table class="w-100 provider-tag-form">
                                            <thead>
                                                <tr>
                                                   <th class="provider-name-th"></th>
                                                   <th class="provider-radio-th"></th>
                                                   <th class="provider-comment-th"></th>
                                                </tr>
                                            </thead>
                                            
                                               
                                                 <!-- <tbody>
                                                    <tr ng-repeat="tag in providerTags.tag_details"  ng-if="tag.tag_type == 'rag' && tag.bu_name!=null">
                                                        <td>{{tag.tag_text}}</td>
                                                        <td class="provider-tag-radio" style="width:30%;">
                                                           <div class="radio_widget">
                                                               <span ng-repeat="option in tag.options">  
                                                                   <input type="radio" id="radio1_{{$index}}_{{tag.tag_id}}" name="same_{{tag.tag_id}}" value="{{option.id_tag_option}}"
                                                                       checked ng-model="tag.tag_answer" ng-disabled="row.readOnly">
                                                                    <label ng-if="option.tag_option_name == 'G'" for="radio1_{{$index}}_{{tag.tag_id}}" class="first_label" uib-tooltip="Green" ng-disabled="row.readOnly"></label>
                                                                   <label ng-if="option.tag_option_name == 'A'" for="radio1_{{$index}}_{{tag.tag_id}}" class="sec_label" uib-tooltip="Amber" ng-disabled="row.readOnly"></label>
                                                                   <label ng-if="option.tag_option_name == 'R'" for="radio1_{{$index}}_{{tag.tag_id}}" class="third_label" uib-tooltip="Red" ng-disabled="row.readOnly"></label>
                                                                   <label ng-if="option.tag_option_name == 'N/A'" for="radio1_{{$index}}_{{tag.tag_id}}" class="fourth_label" uib-tooltip="Not Applicable" ng-disabled="row.readOnly"></label>
                                                               </span>
                                                               <span style="padding-left: 50px;">
                                                                 <i class="fa fa-undo fa-lg" style="cursor: pointer; font-size: 14px;line-height: 23px;" ng-if="tag.tag_answer"   
                                                                 ng-click="tag.tag_answer=''"></i>
                                                            </span>
                                                           </div>
                                                        </td>
                                                        <td class="provider-comment-td" >
                                                           <span>
                                                               <input type="text" class="form-control" id="feedback_{{tag.id_tag}}" value="{{option.id_tag_option}}"
                                                               ng-model="tag.comments">
                                
                                                           </span>
                                                        </td>
                                                    </tr>
                                                </tbody>  -->

                                                <tbody  ng-repeat="tag in providerTags.tag_details track by $index"  ng-if="tag.tag_type == 'rag' && tag.bu_name!=null">
                                                    <tr>
                                                        <td>{{tag.tag_text}}</td>
                                                        <td class="provider-tag-radio">
                                                           <div class="radio_widget">
                                                               <span ng-repeat="option in tag.options">  
                                                                   <input type="radio" id="radio1_{{$index}}_{{tag.id_tag}}" name="same_{{tag.id_tag}}" value="{{option.id_tag_option}}"
                                                                       checked ng-model="provider.grouped_tags[tag.id_tag]" ng-disabled="row.readOnly">
                                                                    <label ng-if="option.tag_option_name == 'G'" for="radio1_{{$index}}_{{tag.id_tag}}" class="first_label" uib-tooltip="Green" ng-disabled="row.readOnly"></label>
                                                                   <label ng-if="option.tag_option_name == 'A'" for="radio1_{{$index}}_{{tag.id_tag}}" class="sec_label" uib-tooltip="Amber" ng-disabled="row.readOnly"></label>
                                                                   <label ng-if="option.tag_option_name == 'R'" for="radio1_{{$index}}_{{tag.id_tag}}" class="third_label" uib-tooltip="Red" ng-disabled="row.readOnly"></label>
                                                                   <label ng-if="option.tag_option_name == 'N/A'" for="radio1_{{$index}}_{{tag.id_tag}}" class="fourth_label" uib-tooltip="Not Applicable" ng-disabled="row.readOnly"></label> 
                                                               </span>
                                                               <span>
                                                                   <i class="fa fa-undo fa-lg pull-right" style="cursor: pointer; font-size: 14px;line-height: 23px;"
                                                                   ng-if="provider.grouped_tags[tag.id_tag]"   
                                                                       ng-click="provider.grouped_tags[tag.id_tag]=''"></i>
                                                               </span>
                                                           </div> 
                                                        </td> 
                                                        <td class="provider-comment-td" >
                                                           <span>
                                                               <input type="text" class="form-control" id="feedback_{{tag.id_tag}}" value="{{option.id_tag_option}}" 
                                                                    ng-model="provider.grouped_tags.feedback[tag.id_tag]">
               
                                                           </span>
                                                        </td>
                                                    </tr>
                                                </tbody>

                                            </table>

                                            
                                    </div>
                                    <div class="card-block" style="padding:7px 0px;">
                                        <div class="col-md-12 p-0 tagsGrouping">
                                            <div class="form-group col-sm-4" ng-repeat="tag in providerTags.tag_details"
                                                ng-if="tag.tag_type!='rag'">
                                                <label class="label-control ellipis w_95">{{tag.tag_text}}</label>
                                                <input type="text" ng-if="tag.tag_type == 'input' && tag.field_type == 'text'"
                                                    class="form-control" ng-model="provider.grouped_tags[tag.tag_id]">
                                                <input type="text" only-digits
                                                    ng-if="tag.tag_type == 'input' && tag.field_type == 'number'" class="form-control"
                                                    ng-model="provider.grouped_tags[tag.tag_id]">
                                                <input type="text" ng-if="tag.tag_type == 'input' && tag.field_type == 'currency'"
                                                    maxlength="30" ui-number-mask="0" class="form-control"
                                                    ng-model="provider.grouped_tags[tag.tag_id]">

                                                <select ng-if="tag.tag_type == 'dropdown' && tag.multi_select=='0'" ng-model="provider.grouped_tags[tag.tag_id]"
                                                    class="form-control"
                                                    ng-options="item.id_tag_option as item.tag_option_name for item in tag.options">
                                                    <option value="">-- {{'general.select' |translate}} --</option>
                                                </select>
                                                <select ng-if="tag.tag_type == 'radio'" ng-model="provider.grouped_tags[tag.tag_id]"
                                                    class="form-control"
                                                    ng-options="item.id_tag_option as item.tag_option_name for item in tag.options">
                                                    <option value="">-- {{'general.select' |translate}} --</option>
                                                </select>

                                                <select ng-if="tag.tag_type == 'selected' && tag.selected_field =='contract' && tag.multi_select=='0'"
                                                ng-model="provider.grouped_tags[tag.tag_id]" class="form-control"
                                                ng-options="item.id_contract as item.contract_name for item in selectedInfoContract">
                                                <option value="">-- {{'general.select' |translate}} --</option>
                                                </select>
                                                <select ng-if="tag.tag_type == 'selected' && tag.selected_field =='project' && tag.multi_select=='0'"
                                                ng-model="provider.grouped_tags[tag.tag_id]" class="form-control"
                                                ng-options="item.id_project as item.contract_name for item in selectedInfoProject">
                                                <option value="">-- {{'general.select' |translate}} --</option>
                                                </select>
                                                <select ng-if="tag.tag_type == 'selected' && tag.selected_field =='relation' && tag.multi_select=='0'"
                                                ng-model="provider.grouped_tags[tag.tag_id]" class="form-control"
                                                ng-options="item.id_provider as item.provider_name for item in selectedInfoProvider">
                                                <option value="">-- {{'general.select' |translate}} --</option>
                                                </select>
                                                <select ng-if="tag.tag_type == 'selected' && tag.selected_field =='catalogue' && tag.multi_select=='0'"
                                                ng-model="provider.grouped_tags[tag.tag_id]" class="form-control"
                                                ng-options="item.id_catalogue as item.catalogue_name for item in selectedInfoCatalogue">
                                                <option value="">-- {{'general.select' |translate}} --</option>
                                                </select>


                                                <select ng-if="tag.tag_type == 'dropdown' && tag.multi_select=='1'"
                                                    chosen id="add-chosen" allow-single-deselect="true" multiple
                                                    ng-model="provider.grouped_tags[tag.tag_id]" name="tag_answer"
                                                    class="chosen-choices" placeholder="select field"
                                                    ng-options="item.id_tag_option as item.tag_option_name for item in tag.options">
                                                </select>

                                                <select ng-if="tag.tag_type == 'selected'  && tag.selected_field =='contract' && tag.multi_select=='1'"
                                                    chosen id="add-chosen" allow-single-deselect="true" multiple
                                                    ng-model="provider.grouped_tags[tag.tag_id]" name="tag_answer"
                                                    class="chosen-choices" placeholder="select field"
                                                    ng-options="item.id_contract as item.contract_name for item in selectedInfoContract">
                                                </select>

                                                <select ng-if="tag.tag_type == 'selected'  && tag.selected_field =='project' && tag.multi_select=='1'"
                                                    chosen id="add-chosen" allow-single-deselect="true" multiple
                                                    ng-model="provider.grouped_tags[tag.tag_id]" name="tag_answer"
                                                    class="chosen-choices" placeholder="select field"
                                                    ng-options="item.id_project as item.contract_name for item in selectedInfoProject">
                                                </select>

                                                <select ng-if="tag.tag_type == 'selected' && tag.selected_field =='relation' && tag.multi_select=='1'"
                                                    chosen id="add-chosen" allow-single-deselect="true" multiple
                                                    ng-model="provider.grouped_tags[tag.tag_id]" name="tag_answer"
                                                    class="chosen-choices" placeholder="select field"
                                                    ng-options="item.id_provider as item.provider_name for item in selectedInfoProvider">
                                                </select>

                                                <select ng-if="tag.tag_type == 'selected'  && tag.selected_field =='catalogue' && tag.multi_select=='1'"
                                                    chosen id="add-chosen" allow-single-deselect="true" multiple
                                                    ng-model="provider.grouped_tags[tag.tag_id]" name="tag_answer"
                                                    class="chosen-choices" placeholder="select field"
                                                    ng-options="item.id_catalogue as item.catalogue_name for item in selectedInfoCatalogue">
                                                </select>

                                                <div ng-if="tag.tag_type =='date'" style="display: flex;">
                                                    <input type="text" class="form-control white-bg bg-white"
                                                        uib-datepicker-popup="dd-MM-yyyy" ng-model="provider.grouped_tags[tag.tag_id]"
                                                        name="date" is-open="openCal11" datepicker-options="{showWeeks:false}"
                                                        show-button-bar="false" readonly>
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default border"
                                                            ng-click="openCal11 = true">
                                                            <i class="fa fa-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </uib-accordion>
                        </div>

                        <div ng-if="tagsBuilding.length ==0" class="text-sm-center">
                            {{ 'tags.no_tags_found' |translate}}
                        </div>



                             
                        <!-- <div class="clearfix"></div> -->
                        <h6 class="form-group border-b">
                            <label class="f16">{{'general.add' | translate}} {{'links.attachments_links' | translate}}:</label>
                        </h6>
                      
                        <!-- start -->
                        <uib-tabset active="active" class="clearfix" style="padding: 10px;">
                            <uib-tab index="0" heading="{{'links.ad_attachment' | translate}}">
                                <div class="col-sm-12 m-t-3 form-group p0">
                                    <attachment-files ng-model="file.attachment"></attachment-files>
                                    <attachment-list-template get-data="provider.attachment.documents" ng-model="file.delete"></attachment-list-template>
                                </div>
                            </uib-tab>
                            <uib-tab index="1"  class="clearfix" heading="{{'links.ad_link' | translate}}">
                                <div class="clearfix" style="background: #EEEDF5; padding: 10px;" ng-init="providerLink.url='';providerLink.title='';">
                                    <ng-form name="linkForm" class="modalUniqCls">
                                        <div class="col-md-5 pl-0">
                                            <input type="text" class="form-control" name="title" placeholder="{{'normal.placeholder_title' | translate}}" ng-model="providerLink.title" >
                                        </div>
                                        <div class="col-md-7 pl-0" style="display:-webkit-inline-box; padding-right: 5px;">
                                            <div class="input-group" style="display:flex;">
                                            <input type="text" class="form-control" name="url"
                                             ng-model="providerLink.url"  placeholder="{{'normal.placeholder_add_link_url' | translate}}">                                             
                                             <div class="input-group-append">
                                                <span class="input-group-text">
                                                <button type="button" style="padding: 0.03rem 0.5rem;" title="{{'providerLink.verify_link' | translate}}" 
                                                    ng-disabled="(providerLink.url.length && providerLink.title.length)==0" class="btn btn-success" ng-click="verifyLink(providerLink)">
                                                    <span class="fa fa-plus"></span><p style="font-size:12px;margin-bottom:0px;">{{'links.ad_link' | translate}}</p>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                        </div>
                                    </ng-form>
                                    <div class="col-sm-12 p0 mt-1" ng-if="providerLinks.length" style="overflow-y: scroll;">
                                        <div class="list-header clearfix">
                                            <label class="text-capitalize f14">{{'links.attached_links' | translate}}</label>
                                        </div>
                                        <div class="list-table mt5 mb5" style="max-height:250px;" ng-scrollbars="">
                                            <ul class="list-items files-list">
                                                <li class="clearfix" ng-repeat="link in providerLinks track by $index">        
                                                    <div class="col-sm-11 p0">
                                                        <p class="f12 text-line m-0 p-h" title="{{link.url}}">{{link.title}}
                                                        <span class="pl-h skyblue">( {{link.url}} )</span></p>
                                                    </div>
                                                    <div class="col-sm-1 pull-right">
                                                        <a href="javascript:;" class="display-inline-block p-h" title="Remove" ng-click="removeLink($index)"> <i class="icon-trash gray"></i> </a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>                                    
                                </div>
                                <div class="col-sm-12 attachment-list p0 mt-h" ng-show="provider.attachment.links.length">
                                    <div class="list-header clearfix ">
                                        <label class="col-sm-6 pl0 p-t-3 f16 m-0 ng-binding">{{'links.added_links' | translate}}</label>
                                    </div>
                                    <div class="list-table">
                                        <ul class="list-items">
                                            <li class="clearfix border-b ng-scope" ng-repeat="row in provider.attachment.links">
                                                <div class="touch-attacment-box p-h clearfix">                                                    
                                                    <a href="javascript:;" ng-click="redirectUrl(row.document_source)" class="col-sm-6 p0 f14  m-0"
                                                        title="{{row.document_source}}" ><span class="fa fa-link"></span> {{row.document_name}}
                                                    </a>
                                                    <div class="">
                                                        <a href="javascript:;" uib-tooltip="Delete" ng-click="deleteFile($index,row)" class="link-icon-blue"><i class="icon-trash f13"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <div ng-hide="provider.attachment.links.length  > 0" class="text-center ng-hide"><p class="f12">{{'links.no_link' | translate}}</p> </div>
                                    </div>
                                </div>  
                            </uib-tab>
                        </uib-tabset> 
                        <!-- End -->
                        <div class="clearfix"></div>
                        <div class="form-group col-sm-12 text-center m-t-3">
                            <button type="submit" class="btn btn-sm btn-primary">
                                <i class="fa fa-dot-circle-o"></i> {{bottom | translate}}</button>
                            <button type="button" ng-click="cancel()" class="btn btn-sm btn-danger">
                                <i class="fa fa-ban"></i> {{'general.cancel' | translate}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="group-template0.html">
    <div class="accordion-default accordian_list_style">
        <div class="panel-heading">
            <h4 class="panel-title cursor-pointer" ng-click="toggleOpen()" style="cursor: pointer">
                <a href tabindex="0" class="accordion-toggle" uib-accordion-transclude="heading">
                    <span uib-accordion-header ng-class="{'text-muted': isDisabled}" style="display: flex;align-items: center;">
                            {{heading}}
                        <i class="glyphicon" ng-class="{'fa-solid fa-caret-down': open, 'fa-solid fa-caret-right': !open}"></i>
                    </span>
                </a>
            </h4>
        </div>
        <div class="panel-collapse collapse" uib-collapse="!isOpen">
            <div class="panel-body" ng-transclude></div>
        </div>
    </div>
</script>


<style>
    .border-bottom{
        border-bottom: 1px solid #ccc;
    }
    /* .provider-tag-form th{
        font-weight: normal;
    }
    .provider-tag-form th,
    .provider-tag-form td{
           padding: 1px 5px;
    }
    .provider-tag-radio{
        background-color: #eee;
        padding-right: 13px !important;
    }
    .provider-tag-form td{
        border-bottom: 8px solid #fff;
    }
    .provider-name-th{
        width: 150px;
    }
    .provider-radio-th{
        width: 190px;
    }
    .provider-comment-th,
    .provider-comment-td{
       padding-left: 30px !important;
    } */
    .nav-tabs .nav-item{
    margin-bottom: 0px;
    padding: 0;
}
.tab-content .tab-pane{
    padding: 10px;
}
.nav-tabs{
    background: #FFF !important;
}
.nav.nav-tabs li:last-child{
    padding-right: 0px;
    margin: 0;
}
.nav.nav-tabs li:last-child {
    padding-right: 0px;
    margin: 0;
    margin-left: 0.2rem;
}
.nav-tabs .nav-item .nav-link {
    background: #FFF;
    color: #464646;
    text-align: center;
    min-width: 165px;
    border: 1px solid #ccc;
    border-bottom: none;
}
.pt20{
    padding-top: 20px;
}

.nav-tabs .nav-item.active .nav-link {
    background: #efefef5e;
    border-bottom-color: #FFF;
    border: 1px solid #ccc;
    border-bottom: 1px solid #f9f9f9;
    margin-bottom: -1px;
}
.tab-content{
    border: 1px solid #ccc !important;
    background-color: #f9f9f9;
}
.question-attachements-add-link{
  position: absolute;
  right:0;
  float:left;
}
.tab-content::after, .tab-content::before {
    content: '';
    display: block;
    clear: both;
}
.custom-row{
        display: flex;
        flex-wrap: wrap;
    }
    .chosen-container .chosen-results li.active-result {
        border-bottom: 0 !important;
        padding: 5px;
    }

</style>