

<div class="modal-header">
    <h6 class="modal-title" id="modal-title"> 
        <span ng-class="{orange: !isWorkflow,green: isWorkflow}">{{title | translate}} - </span>
        {{name}}
        <a ng-click="cancel()" title="{{'general.close' | translate}}" class=" pull-right icon-times f16"></a>
    </h6>
</div>
<div class="modal-body clearfix">
    <div class="modal-custom-scroll pr-1"> 
        <div class="col-lg-12 p0 mb-h scp-custom-scroll" ng-class="{'length-one':dashboardData.subtask_lists.length==1,
                                                                    'length-two':dashboardData.subtask_lists.length==2,
                                                                    'length-three':dashboardData.subtask_lists.length==3,
                                                                    'length-four':dashboardData.subtask_lists.length==4,
                                                                    'length-five':dashboardData.subtask_lists.length==5}">
                
                    
            <div class="text-xs-center" ng-if="dashboardData.modules.length==0" style="padding: 40px;
                                                                                background: #fff;
                                                                                border: 1px solid #ccc;
                                                                                margin-top: 15px;">
                <span class="f14">{{'templates.no_modules' | translate}}</span>
            </div>
            <div class="contract-list-view" style="display: flex;" ng-if="dashboardData.modules">                                
                    <div class="report-contract-cls1" style="width: 244px;min-width: 244px;">&nbsp;</div>
                    <div class="custom-header"> 
                    <div class="sub-tasks" style="display: flex; padding: 0 5px;flex:1;overflow: hidden;
                    align-items: center;
                    justify-content: center;" 
                        ng-repeat="row in dashboardData.subtask_lists">
                        <a href="javascript:;" ng-click="getDataByReviewDate(row,type)" title="{{row.provider_name}}">{{row.provider_name | checkEmpty}}</a>
                    </div>
                </div>
            </div>
            <uib-accordion close-others="oneAtATime" ng-repeat="module in dashboardData.modules">
                <div uib-accordion-group class="panel-default mb-h "
                     template-url="group-template.html" style="border: 1px solid #ccc;" ng-init="module.open=false;
                     showData[module.id_module]['open']=showData[module.id_module]['open'] ? showData[module.id_module]['open'] : false;"
                     is-open="showData[module.id_module]['open']">
                    <uib-accordion-heading ng-click="showData[module.id_module]['open'] = !showData[module.id_module]['open']">
                       <!-- <div class="" style="width: 238px;min-width:238px;display: flex;align-items: center; padding-left: 5px;" ng-class="((module.static=='1') ? ((module.is_workflow=='1') ? 'bg-color-green':'bg-light-orange'): 'bg-color-white')"> -->
                        <div class="" style="width: 238px;min-width:238px;display: flex;align-items: center; padding-left: 5px;" ng-class="(((module.is_workflow=='1') ? 'bg-color-green':'bg-light-orange'))">
                        <i class="glyphicon" ng-class="{'fa fa-minus-square-o': showData[module.id_module]['open'],
                                                        'fa fa-plus-square-o': !showData[module.id_module]['open']}"></i>
                        <div style="text-align: left;" class="pl14">
                            <span style="display: inline-block;
                                        width: 100%;
                                        text-overflow: ellipsis;
                                        overflow: hidden;
                                        font-size: 13px;
                                        font-weight: 500;
                                        line-height: 1.3;
                                        white-space: nowrap;" title="{{module.module_name}}">
                                {{module.module_name}}
                            </span>
                        </div>
                      </div>
                        <!-- <div class="pull-right custom-child custom-parent" ng-class="((module.static=='1') ? ((module.is_workflow=='1') ? 'bg-color-green':'bg-light-orange'): 'bg-color-white')" style=" width: calc(100% - 238px);min-width: calc(100% - 238px);
                                                        text-align: right;
                                                        float: none;
                                                        display: flex;
                                                        align-items: center;"> -->
                        <div class="pull-right custom-child custom-parent" ng-class="(((module.is_workflow=='1') ? 'bg-color-green':'bg-light-orange'))" style=" width: calc(100% - 238px);min-width: calc(100% - 238px);
                        text-align: right;
                        float: none;
                        display: flex;
                        align-items: center;">
                            <!-- <div class=" static-length-one" ng-class="((module.static=='1') ? ((module.is_workflow=='1') ? 'bg-color-green':'bg-light-orange'): 'bg-color-white')" style="width: 130px;text-align: center;" ng-repeat="mscore in module.module_scores track by $index"> -->
                                <div class=" static-length-one" ng-class="(((module.is_workflow=='1') ? 'bg-color-green':'bg-light-orange'))" style="width: 130px;text-align: center;" ng-repeat="mscore in module.module_scores track by $index">
                                <div class="status-widget font-weight-bold" style="margin-right: 0px !important;" ng-if="mscore == 'Green'">
                                    <span class="green-active"></span>
                                </div>
                                <div class="status-widget font-weight-bold" ng-if="mscore == 'Amber'">
                                    <span class="amber-active"></span>
                                </div>
                                <div class="status-widget font-weight-bold" ng-if="mscore == 'Red'">
                                    <span class="red-active"></span>
                                </div>
                                <div class="status-widget font-weight-bold" ng-if="mscore == 'N/A' || mscore==null || mscore==''">
                                    <span class=""></span>
                                </div>
                            </div>
                        </div>
                    </uib-accordion-heading>
                    <ul>
                        <uib-accordion close-others="oneAtATime">
                            <div uib-accordion-group class="panel-default mb-h"
                                 ng-repeat="topic in module.topics" style="padding: 10px;"  heading="Selection Process"
                                 ng-init="topic.open=false;
                                 showData[module.id_module]['topic'][topic.id_topic]['open'] =  showData[module.id_module]['topic'][topic.id_topic]['open'] ?
                                                                                                showData[module.id_module]['topic'][topic.id_topic]['open'] : false;"
                                 is-open="showData[module.id_module]['topic'][topic.id_topic]['open']"
                                 template-url="topic-template.html">
                                <uib-accordion-heading ng-click="showData[module.id_module]['topic'][topic.id_topic]['open'] = !showData[module.id_module]['topic'][topic.id_topic]['open']">
                                   <div class="" style="width: 230px;min-width: 230px;padding-left: 5px;display: flex;align-items: center;">
                                    <i class="glyphicon"                                                
                                        ng-class="{'fa fa-minus-square-o': showData[module.id_module]['topic'][topic.id_topic]['open'],
                                                  'fa fa-plus-square-o': !showData[module.id_module]['topic'][topic.id_topic]['open']}"></i>
                                    <div style="text-align: left;color: #2196f3;">
                                        <span style="display: inline-block;
                                                        width: 100%;
                                                        text-overflow: ellipsis;
                                                        overflow: hidden;
                                                        white-space: nowrap;
                                                        font-weight: normal;
                                                        font-size: 12px;" title="{{topic.topic_name | capitalize}}">
                                            <span class="pl14">{{topic.topic_name | capitalize}} </span>
                                        </span>
                                    </div>
                                   </div>
                                    <div class="custom-child" style="display:flex;
                                                    display: flex;
                                                    align-items: center;
                                                    width: 100%">
                                        <div class=" custom-bg static-length-one" 
                                                style="text-align: center;background-color: #fff;flex: 1;" ng-repeat="tscore in topic.topic_scores track by $index">
                                            <div class="status-widget">
                                                <span ng-if="tscore == 'Red'" class="score_color red-bg"></span>
                                                <spann ng-if="tscore == 'Amber'" class="score_color orange-bg"></spann>
                                                <span ng-if="tscore == 'Green'" class="score_color green-bg"></span>
                                                <span ng-if="!tscore" class="score_color "></span>
                                            </div>
                                        </div>
                                    </div>                                            
                                </uib-accordion-heading>
                                <div ng-repeat="row in topic.questions" style="display: flex;border-bottom: 1px solid #fff;" 
                                    ng-class="{'blue-color':row.is_blue_difference==1  ,
                                'green-color': row.is_green_diffference==1 ,
                                    'toggleclass':row.is_validator==1,
                                'red-color': row.is_red_difference==1,
                                'relation-active':row.provider_visibility==1}"  class="color-div">
                                <div class="validator-view bg-gray"  style="width: 237px;min-width: 237px;
                                            overflow: hidden;
                                            display: inline-block;
                                            white-space: nowrap;
                                            line-height: 30px;
                                            padding-left: 5px;
                                            position: relative;
                                            text-overflow: ellipsis;
                                            color: black;" title="{{row.question_text}}">
                                              <div style="display:flex; align-items:center;padding:5px;">
                                                <div class="tw-toggle" ng-if="row.is_validator==1">
                                                      <label class="toggle toggle-yes green-dot"  ng-class="{'green-circle':row.is_green_diffference==1}" ></label> 
                                                       <label class="toggle toggle-yes blue-dot"  ng-class="{'blue-circle':row.is_blue_difference==1}" ></label>
                                                       <label class="toggle toggle-yes red-dot"   ng-class="{'red-circle':row.is_red_difference==1}"></label> 
                                               </div> 
                                            <span style="padding-left:3px;text-overflow: ellipsis;
                                            white-space: nowrap;
                                            width: 95%;
                                            display: block;
                                            overflow: hidden;">{{row.question_text | checkEmpty}}</span>
                                        
                                        </div>
                                             </div>
                                    <div style="display: flex;
                                                
                                                width: calc(100% - 230px);min-width: calc(100% - 230px);">
                                    <div class="inside-acc-div" ng-if="row.question_type == 'input'" ng-repeat="answer in row.question_answeres track by $index">
                                       <div class="inside-acc-div-text" ng-if="$index < (row.question_answeres.length-1)" title="{{answer}}">{{answer | checkEmpty}}</div>
                                       <div class="last-span" ng-if="$index == (row.question_answeres.length-1)" title="{{answer}}">{{answer | checkEmpty}}</div>
                                    </div>
                                    <div class="inside-acc-div " ng-if="row.question_type == 'dropdown'" ng-repeat="answer in row.question_answeres track by $index">
                                        <div class="inside-acc-div-text" ng-if="$index < (row.question_answeres.length-1)" title="{{answer}}">{{answer | checkEmpty}}</div>
                                        <div class="last-sapn-drop" style="padding-left: 3px;" ng-if="$index == (row.question_answeres.length-1)" title="{{answer}}">{{answer | checkEmpty}}</div>
                                    </div>
                                    <div class="inside-acc-div" ng-if="row.question_type == 'radio'" ng-repeat="answer in row.question_answeres track by $index">
                                        <div class="inside-acc-div-text-radio" ng-if="$index < (row.question_answeres.length-1)" title="{{answer}}">{{answer | checkEmpty}}</div>
                                        <div class="last-span-radio" ng-if="$index == (row.question_answeres.length-1)" title="{{answer}}">{{answer | checkEmpty}}</div>
                                    </div>
                                    <div class="inside-acc-div" ng-if="row.question_type =='date'" ng-repeat="answer in row.question_answeres track by $index">
                                        <div class="inside-acc-div-date" ng-if="$index < (row.question_answeres.length-1)" title="{{answer | utcToLocal:'date'}}">{{answer | utcToLocal:'date' | checkEmpty}}</div>
                                        <div class="last-span-date" ng-if="$index == (row.question_answeres.length-1)" title="{{answer | utcToLocal:'date'}}">{{answer | utcToLocal:'date' | checkEmpty}}</div>
                                    </div>
                                    <div class="inside-acc-div" ng-if="row.question_type == 'rag'" ng-repeat="answer in row.question_answeres track by $index">
                                        <div class="radio_widget inside-acc-div-text-icon" ng-if="$index < (row.question_answeres.length-1)">
                                            <span ng-if="!answer" class="">{{answer | checkEmpty}}</span>
                                            <a ng-if="answer == 'G'" class="f18"><i class="fa fa-check-circle green"></i></a>
                                            <a ng-if="answer == 'A'" class="f18"><i class="fa fa-exclamation-circle orange"></i></a>
                                            <a ng-if="answer == 'R'" class="f18"><i class="fa fa-times-circle red"></i></a>
                                            <a ng-if="answer == 'N/A'" class="f18"><i class="fa fa-minus-circle gray"></i></a>
                                        </div>
                                        <div class="radio_widget last-span-icon" ng-if="$index == (row.question_answeres.length-1)">
                                            <span ng-if="!answer" class="">{{answer | checkEmpty}}</span>
                                            <a ng-if="answer == 'G'" class="f18"><i class="fa fa-check-circle green"></i></a>
                                            <a ng-if="answer == 'A'" class="f18"><i class="fa fa-exclamation-circle orange"></i></a>
                                            <a ng-if="answer == 'R'" class="f18"><i class="fa fa-times-circle red"></i></a>
                                            <a ng-if="answer == 'N/A'" class="f18"><i class="fa fa-minus-circle gray"></i></a>
                                        </div>
                                    </div> 
                                </div>
                                </div>
                                
                            </div>
                        </uib-accordion>
                    </ul>
                </div>
            </uib-accordion>
        
    
        </div>
    </div>
    
</div>

<script type="text/ng-template" id="group-template.html">
    <div class="accordion-default accordian_list_style">
        <div class="panel-heading">
            <h4 class="panel-title cursor-pointer bg-color-green"  
                ng-click="toggleOpen()" style="cursor: pointer">
                <a href tabindex="0" class="accordion-toggle" uib-accordion-transclude="heading">
                    <span uib-accordion-header ng-class="{'text-muted': isDisabled}" style="display:flex;">
                        <i class="glyphicon" ng-class="{'fa fa-minus-square-o': status.open, 'fa fa-plus-square-o': !status.open}"></i>
                    </span>
                </a>
            </h4>
        </div>
        <div class="panel-collapse collapse" uib-collapse="!isOpen">
            <div class="panel-body" ng-transclude></div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="topic-template.html">
    <div class="accordion-default accordian_list_style">
        <div class="panel-heading">
            <h4 class="panel-title cursor-pointer custom-border" style="border-right: 1px solid #ccc" ng-click="toggleOpen()" style="cursor: pointer;font-weight: 400;">
                <a href tabindex="0" class="accordion-toggle" uib-accordion-transclude="heading">
                    <span uib-accordion-header ng-class="{'text-muted': isDisabled}" style="display:flex;">
                        <i class="glyphicon" ng-class="{'fa fa-minus-square-o': status.show, 'fa fa-plus-square-o': !status.show}"></i>
                        {{heading}}
                    </span>
                </a>
            </h4>
        </div>
        <div class="panel-collapse collapse custom-border" style="border-right: 1px solid #ccc;padding: 7px; border-top: 0;" uib-collapse="!isOpen">
            <div class="panel-body" style="border-top:0" ng-transclude></div>
        </div>
    </div>
</script>
<style>
    .accordion-default .panel-title .static{
    color: #000 !important;
    background-color: #da4421d6!important;
    }
    .accordion-default .panel-title {
    color: #000 !important;
    padding: 10px 0px 10px 10px !important ;
    /* background-color: #fff !important; */
    }
    .count-small{
        width: 14px;
        height: 14px;
        position: absolute;
        background: #5bb166;
        display: block;
        color: #fff;
        line-height: 14px;
        text-align: center;
        border-radius: 50%;
        font-size: 10px;
        top: -9px;
        right: -8px;
    }    
    .outer {
        position: relative;
    }
    tr.border-list-child td:first-child{
        padding-left: 6px;
    }
    .contract-list-view table {
        width: 100%;
    }
    .contract-list-view thead tr th {
        color: #2196f3;
        border-bottom: 0px solid #cfd8dc;
    }
    .table th, .table td{
        padding: 0.45rem;
        vertical-align: top;
        border-top: 0px solid #cfd8dc;
    }
    .contract-list-view table tbody .border-list {
        border-bottom: 1px solid #cfd8dc;
    }
    .contract-list-view table tr:last-child {
        border-bottom: 0px solid #cfd8dc;
    }
    .contract-list-view thead tr th:last-child {
        color: #464646;
    }
    .contract-list-view tbody tr td {
        background-color: #fff;
    }
    .contract-list-view tbody tr td:first-child {
        border-left: 1px solid #cfd8dc;
        border-right: 0px solid #cfd8dc;
    }
    .contract-list-view tr td:last-child {
        border-right: 1px solid #cfd8dc;
    }
    .contract-list-view .td-view-heading span {
        padding: 0px 5px 0px 0px;
    }
    .contract-list-view .td-view-heading {
        font-weight: 600;
    }
    .contract-list-view .td-view-sub-heading {
        padding: 3px 0px 3px 5px;
        color: #2196f3;
    }
    .contract-list-view tbody tr:last-child .td-view-sub-heading {
        padding-bottom: 3px;
    }
    .child-topics{
        border-bottom: 10px solid #efefef;

    }
    .child-topics:after{
        content: '';
    display: block;
    height: 10px;
    position: relative;
    background-color: #efefef;
    width: 100%;  
    }
    .child-topics tbody tr td{
        text-align: center;
    }
    .child-topics tbody tr td:first-child {
        border-left: none;
    }
    .child-topics tbody tr{
        border-bottom: 1px solid #cfd8dc;
    }
    .child-topics tbody tr:last-child{
        border-bottom: none;
    }
    .child-topics tbody tr td:last-child {
        border-right: none;
    }
    .contract-list-view tr td div {
        border-right: 0px solid #ccc;
        border-left: 0px solid #ccc;
    }
    .inside-table-body::after {
        content: '';
        display: block;
        height: 10px;
        background-color: #efefef;
    }
    .contract-list-view tbody tr td {
        padding: 3px 0px 0px;
        text-align: center;
    }
    .contract-list-view tbody tr:first-child td:last-child {
        padding-right: 1px;
    }
  
    .fixed-layout-cls1 {
        table-layout: fixed;
        width: 100%;
        margin-bottom: 0px;
    }
    .contract-list-view thead tr th {
        font-size: 11px !important;
        font-weight: 500 !important;
        padding-bottom: 4px !important;
        text-align: center !important;
    }
    .contract-list-view tbody {
        background-color: #fff;
    }
    .border-list tr td {
        padding: 0.45rem;
    }
    .border-list tr td:first-child {
        padding-left: 0.45rem;
    }
    .border-list tr td:last-child {
        padding-right: 0.45rem;
    }
    .border-list td:first-child {
        padding-left: 0.45rem !important;
    }
    .border-list td:first-child {
        border-bottom: 1px solid #cfd8dc;
    }
    .border-list td:last-child {
        border-bottom: 1px solid #cfd8dc;
    }
    .border-list td {
        border-top: 1px solid #efefef;
    }
    .tr-inside-table tr:last-child td {
        border-bottom: 1px solid #efefef !important;
    }
    .child-topics table{
        border-bottom: 1px solid #cfd8dc !important;
    }
    tr.contract-list-view-border td:first-child{
        padding-bottom: 4px !important;
        padding-top: 8px !important;
    }
    .border-list td{
        padding: 0px;
    }
    .border-list td div{
        padding: 6px !important;
        border-top:  1px solid #cfd8dc !important;
    }
    .contract-list-view table tbody .border-list td{
        padding: 0px !important
    }
    .contract-list-view table tbody .border-list .td-view-heading span{
        padding: 6px 0px 4px 5px!important;
        border-top:  1px solid #cfd8dc !important;
        font-size: 12px;
    }
    th.report-contract-cls1{
        width: 240px;
    }
    /* .contract-list-view tr th,
    .panel-heading .status-widget {
    min-width: 98px;
    padding: 4px 3px;
    text-align: center;
    }
    .panel-heading .status-widget {
        padding: 0px 3px 5px !important;
    }
    .accordion-default .panel-title {
        padding: 0px;
        line-height: 19px;
    }
    .accordion-default .panel-title a.accordion-toggle span i.glyphicon{
        margin-top: 8px;
        color: #8a8686;
    } */
    .custom-header{
        width: calc(100% - 250px);
        display: flex;
        text-align: center;
        padding: 10px 0px 5px;
        align-items: center;
        /* justify-content: flex-end; */
        font-size: 13px;
    }
    .scp-custom-scroll{
        overflow-x: auto;
        width: 100%;
    }
    .custom-header a{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
    }
    .status-widget span{
        border: 1px solid #a7a2a2;
    }
    .status-widget .score_color{
        border: 1px solid #a7a2a2;
    }
    .accordion-default{
        font-size: 11px;
    }
 
    .inside-acc-div-text{
        overflow: hidden;
        display: inline-block;
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        /* width: 98px; */
        padding: 4px 0px ;
    }
    .last-span{
        overflow: hidden;
        display: inline-block;
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 80px;
        padding: 4px 5px 0px;
        margin-right: 0px;
    }
    .last-sapn-drop{
        overflow: hidden;
        display: inline-block;
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 80px;
        padding: 5px 0px 5px 5px;
        margin-right: -2px;
    }
    .inside-acc-div{
        /* width: 130.5px;
        min-width: 130.5px; */
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        /* min-height: 28px; */
        position: relative;
        flex:1;
        overflow: hidden;

    }
    .inside-acc-div:after {
        content: '';
    position: absolute;
    background: #fff;
    /* width: 130px;
    min-width: 130px; */
    height: 6px;
    display: block;
    bottom: -6px;
    z-index: -1;
    right: 0px;
}
.inside-acc-div:last-child:before {
    content: '';
    position: absolute;
    background: #fff;
    width: 6px;
    height: 33px;
    display: block;
    bottom: 0;
    right: 0px;
}
.modal-body .inside-acc-div:last-child:before{
    height:40px !important;
}
    
    .mr-h1{
        margin-right: 6px;
    }
    .color-div:nth-child(even) {
        background: #fff;
    }
    .color-div:nth-child(even) .bg-gray{
        background: #f1f1f6;
    }
    .bg-color-white{
        background: #fff !important;
    }
    .panel-body ul{
        margin-bottom: 6px;
    }
    .panel-body ul .panel-heading h4{
        font-size: 12px !important;
    }
    .panel-body .panel-default{
        margin-bottom: 6px !important;
    }
    .panel-body .panel-default .panel-body{
        padding-bottom: 6px;
    /* background: rgba(219, 68, 29, 0.1); */

    }
    .header-fixed .contract-list-view {
    background-color: transparent;
    position: relative;
    /* min-height: 130px; */
    top: 0;
    left: 0;
    float: left;
    width: 100%;
    margin: 0;
    z-index: 1;
}
    .custom-border{
        border: 1px solid #ccc;
        border-right: none;
    }
    .custom-border-topbottom{
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding: 3px 0;
        position: relative;
    }
    .status-widget .score_color {
       height: 14px !important;
    }
    .custom-child .custom-border-topbottom:last-child{
        border-right: 1px solid #ccc;
    }
    .custom-border-topbottom.custom-bg:before {
        content: '';
        position: absolute;
        top: -7px;
        background: #fff;
        display: block;
        width: 100%;
        z-index: -1;
        height: 46px;
        bottom: -8px;
        right: -6px;
    }
    .color-div:nth-child(even) .inside-acc-div{
         background-color: #f1f1f6;
    }
    .custom-parent .custom-border-topbottom:last-child.bg-color-green:after {
        background: #a0dea0;
        content: '';
        position: absolute;
        right: -4px;
        display: block;
        width: 5px;
        height: 32px;
        top: -1px;
        border: 1px solid #ccc;
        border-left: none;
    }
    .custom-parent .custom-border-topbottom:last-child.bg-color-white:after {
        background: #ffffff;
        content: '';
        position: absolute;
        right: -4px;
        display: block;
        width: 5px;
        height: 32px;
        top: -1px;
        border: 1px solid #ccc;
        border-left: none;
    }
    .custom-parent .custom-border-topbottom:last-child.bg-light-orange:after {
        background: #f8cbad;
        content: '';
        position: absolute;
        right: -4px;
        display: block;
        width: 5px;
        height: 32px;
        top: -1px;
        border: 1px solid #ccc;
        border-left: none;
    }
    
    .custom-border-topbottom.custom-bg:after {
        content: '';
        position: absolute;
        top: auto;
        background: #fff;
        display: block;
        width: 100%;
        z-index: -1;
        height: 6px;
        bottom: -8px;
        right: -6px;
    }
    .custom-border-right{
        border-right: 1px solid #ccc;
    }
    .modal-custom-scroll{
        max-height: 420px;
    overflow-y: auto;
    }
    .modal-custom-scroll::-webkit-scrollbar {
    width: 8px;
}
.modal-custom-scroll::-webkit-scrollbar-thumb {
    background: #888;
}
.modal-custom-scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
}
 .length-one .inside-acc-div{
    width:100%;
    min-width: 100%;
}
.length-two .inside-acc-div{
    width:50%;
    min-width: 50%;
}
.length-three .inside-acc-div{
    width:33.3%;
    min-width: 33.3%;
}
.length-four .inside-acc-div{
    width:25%;
    min-width: 25%;
}
.length-five .inside-acc-div{
    width:20%;
    min-width: 20%;
}
.length-one .static-length-one{
    width:100%  !important;
}
.length-two .static-length-one,
.length-two .sub-tasks{
    width:50%  !important;
}
.length-three .static-length-one,
.length-three .sub-tasks{
    width:33.3%  !important;
}
.length-four .static-length-one,
.length-four .sub-tasks{
    width:25%  !important;
}
.length-five .static-length-one,
.length-five .sub-tasks{
    width:20%  !important;
}
.length-one .sub-tasks{
    width:100% !important;
}
.length-one .inside-acc-div:last-child:before,
.length-two .inside-acc-div:last-child:before,
.length-three .inside-acc-div:last-child:before,
.length-four .inside-acc-div:last-child:before,
.length-five .inside-acc-div:last-child:before
{
    display: none;
    width:0px;
    height:0px;
}
.length-one.scp-custom-scroll,
.length-two.scp-custom-scroll,
.length-three.scp-custom-scroll,
.length-four.scp-custom-scroll,
.length-five.scp-custom-scroll{
    overflow-x: hidden;
} 

.relation-active span{
    background-color: #a9d18e !important;
    }

    .relation-active div{
    background-color: #a9d18e !important;
    }

</style>