<div class="animated fadeIn">
    <div class="col-sm-12 p0">
        <div class="row">
            <table class="table table-custom table-striped table-hover" st-pipe="callServer" st-table="adminsList">
                <thead>
                    <tr>
                        <td colspan="8">
                            <div class="col-sm-12 clearfix p0">
                                <div class="action-head mb0">
                                        <span class="pull-right ml-h">
                                            <button class="btn btn-sm btn-primary btn-radius" ng-click="showForm()" type="button"><i class="icon-plus"></i>&nbsp;
                                                {{'general.ADD' | translate}}
                                            </button>
                                        </span>
                                    <div class="col-sm-3 p0 table-search pull-right">
                                        <input type="text" class="form-control" placeholder="{{'general.search' | translate}}"
                                               st-search="search_key" st-input-event ="change">
                                        <i class="fa icon-search"></i>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th st-sort="name">{{'customer.admin.name' | translate}}</th>
                        <th st-sort="gender">{{'user.profile.gender' | translate}}</th>
                        <th st-sort="email">{{'user.profile.email' | translate}}</th>
                        <th st-sort="user_status">{{'general.status' | translate}}</th>
                        <th st-sort="last_logged_on">{{'customer.admin.last_active' | translate}}</th>
                        <th class="hand-symbol">{{'general.actions' | translate}}</th>
                    </tr>
                </thead>
                <tbody  ng-show="!isLoading">
                    <tr ng-repeat="row in adminsList">
                        <td>{{row.name}}</td>
                        <td>{{row.gender}}</td>
                        <td>{{row.email}}</td>
                        <td>
                            <span  ng-if="row.user_status == 1" class="green">{{'general.active' | translate}}</span>
                            <span  ng-if="row.user_status == 0" class="red">{{'general.inactive' | translate}}</span>
                        </td>
                        <td>{{row.last_logged_on | utcToLocal:'date' | checkEmpty}}</td>
                        <td>
                            <a href="javascript:;" class="icon-edit mr-1 gray" ng-click="showForm(row)" title="Edit">
                            </a>
                                
                            <a ng-if="row.user_status == 1" href="javascript:;" ng-click="loginAsAdmin(row)"
                               n-t='{"valid":"true","m_t":"login","a_n":"Login As","a_d":"Login$$as$${{row.name}}"}'
                               class="mr-1 icon-users4 gray" title="{{'customer.admin.login_as' | translate}} {{row.name}}">
                            </a>
                               
                            <a ng-if="row.is_blocked == 1" href="javascript:;" ng-click="unblock(row)"
                               n-t='{"valid":"true","m_t":"login","a_n":"Unblock user","a_d":"Login$$as$${{row.name}}"}'
                               class="mr-1 icon-ban red" title="Unblock User">
                            </a>
                                
                                
                            <a href="javascript:;" class="fa fa-trash mr-1 gray pointer" ng-click="deleteAdminUser(row)" 
                               ng-if="row.user_status == 0" title="{{'general.delete' |translate}}">
                            </a>                  
                        </td>
                    </tr>
                </tbody>
                <tbody ng-show="isLoading">
                    <tr><td colspan="6" class="text-sm-center">{{'general.loading' | translate}}</td></tr>
                </tbody>
                <tbody ng-show="emptyTable">
                    <tr><td colspan="6" class="text-sm-center">{{'general.no_data' | translate}}</td></tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td class="text-center" colspan="8">
                            <div class="paginator">
                                <span class="paginator-num" st-pagination="" st-items-by-page="displayCount" class="text-sm-center"></span>
                                <span class="paginator-dropdown" ng-if="totalRecords>10">
                                    <label>{{'general.records_per_page' | translate}}&nbsp;</label>
                                    <select ng-model="displayCount" ng-change="defaultPages(displayCount)"
                                        ng-options="item for item in pagesNumber" selected>
                                    </select>
                                </span>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>