<div class="modal-header">
    <h6 class="modal-title" id="modal-title">{{'general.all_providers'| translate}}
        <a ng-click="cancel()" title="{{'general.close' | translate}}" class=" pull-right icon-times"></a>
    </h6>
</div>
<div class="modal-body clearfix" id="modal-body">
    <div class="animated fadeIn">
        <div class="contract-overview">
            <div class="row relative">
                <div class="col-lg-12">
                    <div class="card" st-pipe="callServer" st-table="providersList">
                        <div class="col-sm-12 tableSelect-header">
                            <div class="form-group col-sm-2 pl0 custom-field pt10  wid-55 r-padding">
                            <select class="form-control" id="select"  name="select1" size="1"
                                   ng-model="country_id"  ng-class="(country_id)?'active-filter':''"
                                   st-input-event="change" st-search="country_id"
                                   ng-change="getProviderList(country_id);" 
                                    ng-options="item.id_country as item.country_name for item in countriesList">
                                <option value="">--{{'bussiness.country'| translate}}--</option>
                            </select>
                            </div>
                            <div class="form-group col-sm-2 pl0 custom-field pt10 pr5 r-padding" style="width: 135px;">
                                <select class="form-control" id="select0" name="select0" size="1" ng-model="relationship_category_id" 
                                    ng-class="(relationship_category_id)?'active-filter':''" ng-change="categoryUpdated()"
                                    st-input-event="change" st-search="relationship_category_id" 
                                    ng-options="opt.id_provider_relationship_category as opt.relationship_category_name group by opt.type
                                                    for opt in relationshipCategoryList">
                                    <option value="" class="font-italic">- {{'contract.category'| translate}} -</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-2 custom-field pl0 pt10  wid-55 r-padding">
                                <select class="form-control" id="select1" name="select2" size="1" ng-model="risk_profile" 
                                       ng-class="(risk_profile)?'active-filter':''" st-input-event="change" st-search="risk_profile">
                                    <option value="" class="font-italic">- {{'project.risk_profile'| translate}} -</option>
                                    <option value="R">{{'events.red'| translate}}</option>
                                    <option value="A">{{'events.amber'| translate}}</option>
                                    <option value="G">{{'events.green'| translate}}</option>
                                    <option value="N/A">{{'events.n/a'| translate}}</option>                            
                                </select>
                                </select>
                            </div>
                            <div class="form-group col-sm-2 custom-field pt10 pl0  wid-55 r-padding">
                                <select class="form-control" id="select2" name="select3" size="1" ng-model="approval_status" 
                                       ng-class="(approval_status)?'active-filter':''"  st-input-event="change" st-search="approval_status">
                                    <option value="" class="font-italic">- {{'project.approval_status'| translate}} -</option>   
                                    <option value="R">{{'events.red'| translate}}</option>
                                    <option value="A">{{'events.amber'| translate}}</option>
                                    <option value="G">{{'events.green'| translate}}</option>
                                    <option value="N/A">{{'events.n/a'| translate}}</option>                            
                                </select>
                            </div>
                            <div class="col-sm-3 p0 table-search pull-right  p-r-3 wid-55 wid-95 w200" style="padding-top: 10px; padding-right: 4px;">
                                <input type="text" class="form-control" placeholder="{{'general.search' | translate}}" st-search="search_key" id="search_key" st-input-event="change">
                                <i class="fa icon-search" style="padding-top: 10px;"></i>
                            </div>
                           
                        </div>
                        <table class="table table-custom table-striped table-hover">
                            <thead>
                                <tr>
                                    <th class="hand-symbol action-item-provider"></th>
                                    <th st-sort="unique_id" class="provider-list-unique-id">{{'providers.id'| translate}}</th> 
                                    <th st-sort="provider_name" class="provider-list-name">{{'user.profile.name'| translate}}</th>
                                    <th st-sort="country_name" class="provider-list-country">{{'user.profile.country'| translate}}</th>
                                    <th st-sort="vat" class="provider-list-vat">{{'general.vat' | translate}}</th>
                                    <th st-sort="category_name" class="provider-list-category">{{'contract.category' | translate}}</th>
                                    <th class="hand-symbol provider-list-risk-profile">{{labelNames[0]}}</th>
                                    <th class="hand-symbol provider-list-approval-status" >{{labelNames[1]}}</th>
                                    <th class="hand-symbol provider-list-financial-profile">{{labelNames[2]}}</th>  
                                    <th class="provider-list-total-spent hand-symbol">{{'contract.total_spend'| translate}}</th>
                                    <th st-sort="status" style="text-align:right;" class="provider-list-status">{{'user.profile.status' | translate}}</th>
                                    <th> </th>
                                </tr>
                            </thead>
                            <tbody ng-if="providersList.length>0">
                                <tr ng-repeat="row in providersList">
                                    <td style="max-width: 30px;min-width: 30px;width: 20px; position: relative;" >
                                        <span ng-if="row.action_items_count>0" tooltip-placement="right" title="{{row.action_items_count}}" class="label_tag">{{row.action_items_count}}</span>
                                    </td>
                                    <td style="min-width: 80px;width: 80px;">
                                        <span title="{{row.unique_id}}">{{row.unique_id | checkEmpty}}</span>
                                    </td>
                                    <td style="max-width: 120px;min-width: 120px;width: 120px;">
                                        <span  title="{{row.provider_name}}"  
                                             style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap;display: inline-block;width:100%;">
                                             {{row.provider_name | checkEmpty}}
                                        </span>
                                    </td>                                
                                    <td style="max-width: 150px;min-width: 150px;width: 150px;">
                                         <span title="{{row.country_name}}"  
                                            style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap;display: block;width:100%;">
                                            {{row.country_name | checkEmpty}}</span> 
                                    </td>
                                    <td style="min-width: 80px;width: 80px;" class="custom-ellipsis">
                                        <span title="{{row.vat}}" ng-if="row.vat !='null'" class="ellipsis-block">{{row.vat | checkEmpty}}</span>
                                        <span title="{{row.vat}}" ng-if="row.vat =='null'" class="ellipsis-block">---</span>
                                    </td>
                                    <td style="min-width: 120px;width: 120px;" class="custom-ellipsis">
                                        <span style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap;display: inline-block;width:100%;" class="ellipsis-block" title="{{row.category_name}}">{{row.category_name | checkEmpty}}</span>
                                    </td>
                                    <td ng-if="row.risk_profile == 'A'" style="max-width:100px;min-width: 100px;">
                                        <div class="status-widget font-weight-bold">
                                            <span class=""></span>
                                            <span class="amber-active"></span>
                                            <span class=""></span>
                                        </div>
                                    </td>
                                    <td ng-if="row.risk_profile == 'R'" style="max-width:100px;min-width: 100px;">
                                        <div class="status-widget font-weight-bold">
                                            <span class="red-active"></span>
                                            <span class=""></span>
                                            <span class=""></span>
                                        </div>
                                    </td>
                                    <td ng-if="row.risk_profile == 'G'" style="max-width:100px;min-width: 100px;">
                                        <div class="status-widget font-weight-bold">
                                            <span class=""></span>
                                            <span class=""></span>
                                            <span class="green-active"></span>
                                        </div>
                                    </td>
                                    <td ng-if="!row.risk_profile" style="max-width:100px;min-width: 100px;width: 100px;">
                                        <div class="status-widget font-weight-bold">
                                            <span class=""></span>
                                            <span class=""></span>
                                            <span class=""></span>
                                        </div>
                                    </td>
                                   
                                    <td ng-if="row.risk_profile == 'N/A'">
                                        <div class="status-widget font-weight-bold">
                                            <span class=""></span>
                                            <span class=""></span>
                                            <span class=""></span>
                                        </div>
                                    </td>
    
                                    <td ng-if="row.approval_status == 'A'" style="max-width:100px;min-width: 100px;width: 100px;">
                                        <div class="status-widget font-weight-bold">
                                            <span class=""></span>
                                            <span class="amber-active"></span>
                                            <span class=""></span>
                                        </div>
                                    </td>
                                    <td ng-if="row.approval_status == 'R'" style="max-width:100px;min-width: 100px;width: 100px;">
                                        <div class="status-widget font-weight-bold">
                                            <span class="red-active"></span>
                                            <span class=""></span>
                                            <span class=""></span>
                                        </div>
                                    </td>
                                    <td ng-if="row.approval_status == 'G'" style="max-width:100px;min-width: 100px;width: 100px;">
                                        <div class="status-widget font-weight-bold">
                                            <span class=""></span>
                                            <span class=""></span>
                                            <span class="green-active"></span>
                                        </div>
                                    </td>
                                    <td ng-if="!row.approval_status" style="max-width:100px;min-width: 100px;width: 100px;">
                                        <div class="status-widget font-weight-bold">
                                            <span class=""></span>
                                            <span class=""></span>
                                            <span class=""></span>
                                        </div>
                                    </td>
                                    
                                    <td ng-if="row.approval_status == 'N/A'">
                                        <div class="status-widget font-weight-bold">
                                            <span class=""></span>
                                            <span class=""></span>
                                            <span class=""></span>
                                        </div>
                                    </td>

                                    <td ng-if="row.finacial_health == 'A'" style="max-width:100px;min-width: 100px;">
                                        <div class="status-widget font-weight-bold">
                                            <span class=""></span>
                                            <span class="amber-active"></span>
                                            <span class=""></span>
                                        </div>
                                    </td>
                                    <td ng-if="row.finacial_health == 'R'" style="max-width:100px;min-width: 100px;">
                                        <div class="status-widget font-weight-bold">
                                            <span class="red-active"></span>
                                            <span class=""></span>
                                            <span class=""></span>
                                        </div>
                                    </td>
                                    <td ng-if="row.finacial_health == 'G'" style="max-width:100px;min-width: 100px;">
                                        <div class="status-widget font-weight-bold">
                                            <span class=""></span>
                                            <span class=""></span>
                                            <span class="green-active"></span>
                                        </div>
                                    </td>
                                    <td ng-if="!row.finacial_health" style="max-width:100px;min-width: 100px;width: 100px;">
                                        <div class="status-widget font-weight-bold">
                                            <span class=""></span>
                                            <span class=""></span>
                                            <span class=""></span>
                                        </div>
                                    </td>
                                   
                                    <td ng-if="row.finacial_health == 'N/A'">
                                        <div class="status-widget font-weight-bold">
                                            <span class=""></span>
                                            <span class=""></span>
                                            <span class=""></span>
                                        </div>
                                    </td>
                                  
                                   <td style="width:110px; min-width:110px; max-width:110px;font-size: 13px;" class="custom-ellipsis">
                                    <span  class="ellipsis-block" title="{{row.total_spent | currency : row.currency_name+' ':0}}">
                                        {{row.total_spent | currency : row.currency_name+' ':0 |checkEmpty}}
                                   </span>
                                   </td>
                                 
                                   <td style="width:80px;max-width:80px;min-width: 80px;font-size: 13px;text-align:right;">
                                    <span ng-if="row.status == 1" class="green">{{'general.active' | translate}}</span>
                                    <span ng-if="row.status == 0" class="red">{{'general.inactive' | translate}}</span>
                                   </td>

                                   <td> 
                                    <a class="contract-td skyblue pointer ellipsis-block" ng-click="addedProjectsList(row)">Select</a>
                                </td> 
    
                            </tbody>
                            <!-- <tbody ng-show="isLoading">
                                <tr>
                                    <td colspan="15" class="text-sm-center">{{'general.loading' | translate}}</td>
                                </tr>
                            </tbody> -->
                            <tbody ng-if="providersList.length==0 && !isLoading">
                                <tr>
                                    <td colspan="15" class="text-sm-center">{{'general.no_data' | translate}} </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td class="text-sm-center" colspan="15">
                                        <div class="paginator">
                                            <span class="paginator-num" st-pagination="" st-items-by-page="displayCount" class="text-sm-center"></span>
                                            <span class="paginator-dropdown">
                                                <label>{{'general.records_per_page' | translate}}&nbsp;</label>
                                                <select ng-model="displayCount" ng-change="defaultPages(displayCount)"
                                                    ng-options="item for item in pagesNumber" selected>
                                                </select>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="pagination.html">
<div class="pagination" ng-if="pages.length >= 2">
    <ul class="pagination">
        <li ng-if="currentPage > 1">
            <a ng-click="selectPage(1)" href="javascript:;">&lt;&lt;</a>
        </li>
        <li ng-if="currentPage > 1">
            <a ng-click="selectPage(currentPage-1)" href="javascript:;">&lt;</a>
        </li>
        <li ng-repeat="page in pages" ng-class="{active: page==currentPage}"><a ng-click="selectPage(page)" href="javascript:;">{{page}}</a>
        </li>
        <li ng-if="currentPage < numPages">
            <a ng-click="selectPage(currentPage+1)" href="javascript:;">></a>
        </li>
        <li ng-if="currentPage < numPages">
            <a ng-click="selectPage(numPages)" href="javascript:;">>></a>
        </li>
    </ul>
</div>
</script>



<style>
    .w155 {
        width: 155px;
        padding-right: 5px !important;
    }
    .calanderIconCls {
        position: absolute;
        top: 1px;
        right: -40px;
    }
    .calanderIconCls button{
        padding: 4px 10px;
    }
    .gray-text{
        color: #ccc;
    }
    .status-widget span{
        height: 5px;
    }
    .contractShowHideChart{
        right: 65px;
    }
    .onlyactive1 .onoffswitch-inner:before, .onlyactive1 .onoffswitch-inner::after {
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    }
    .onlyactive1 .onoffswitch-switch {
        width: 14px;
        height: 12px;
        margin-top: 4px;
    }
    .onlyactive1 {
        margin-top: -11px;
        margin-left: 20px;
    }
    .tableSelect-header span.pr40{
        padding-right: 22px !important;
    }
    .onlyactive1 .mrg-space{
        padding-right: 0px !important;
    }
    .onoffswitch-inner{
        margin-top: 0px !important;
    }
    .contract-list-popup .modal-dialog{
        max-width: 1200px !important;
    }
    .contract-list-popup .calanderIconCls button{
       background-color: transparent;
    }
  .provider-list-approval-status{
    width:20% !important;
  }
</style>