<div class="animated fadeIn f12">
    <div class="card-group col-lg-12 p0 contract-details">
        <div class="row">
            <div class="col-lg-12 p0 large-widget">
                <table class="table table-custom table-striped table-hover">
                    <thead>
                        <tr>
                            <th style="width: 20%;" class="hand-symbol"></th>
                            <th style="width: 40%;" class="hand-symbol">{{'contract.current_data' | translate}}</th>
                            <th style="width: 40%;" class="hand-symbol">
                                <div>
                                    <select class="form-control" ng-model="contract.id_project_log" ng-change="getContractLogs(contract.id_project_log)" 
                                    ng-options="item.id_project_log as ((item.log_created_on  | utcToLocal: 'toLocalTime') +' by '+item.log_user_name) for item in contractLogOptions">
                                        <option value=""> --{{'general.select' | translate}} {{'contract.log' | translate}}--</option>
                                    </select>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="bold">{{'project.project_name' | translate}}</td>
                            <td>{{currentContract[0].contract_name | checkEmpty}}</td>
                            <td>
                                <span ng-if="!contractLogDetails[0].contract_name">---</span>
                                <span ng-if="contractLogDetails[0].contract_name">
                                    <span ng-if="currentContract[0].contract_name === contractLogDetails[0].contract_name">
                                        {{contractLogDetails[0].contract_name | checkEmpty}}
                                    </span>
                                    <span ng-if="currentContract[0].contract_name !== contractLogDetails[0].contract_name" class="log_cahnge">
                                        {{contractLogDetails[0].contract_name | checkEmpty}}
                                    </span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="bold">{{'project.project_start_date' | translate}}</td>
                            <td>{{currentContract[0].contract_start_date | utcToLocal: 'date' | checkEmpty}}</td>
                            <td>
                                <span ng-if="!contractLogDetails[0].contract_start_date">---</span>
                                <span ng-if="contractLogDetails[0].contract_start_date">
                                    <span ng-if="currentContract[0].contract_start_date === contractLogDetails[0].contract_start_date">
                                        {{contractLogDetails[0].contract_start_date | utcToLocal: 'date' | checkEmpty}}
                                    </span>
                                    <span ng-if="currentContract[0].contract_start_date !== contractLogDetails[0].contract_start_date" class="log_cahnge">
                                        {{contractLogDetails[0].contract_start_date | utcToLocal: 'date' | checkEmpty}}
                                    </span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="bold">{{'project.project_end_date' | translate}}</td>
                            <td>{{currentContract[0].contract_end_date | utcToLocal: 'date' | checkEmpty}}</td>
                            <td>
                                <span ng-if="!contractLogDetails[0].contract_end_date">---</span>
                                <span ng-if="contractLogDetails[0].contract_end_date">
                                    <span ng-if="currentContract[0].contract_end_date === contractLogDetails[0].contract_end_date">
                                        {{contractLogDetails[0].contract_end_date | utcToLocal: 'date' | checkEmpty}}
                                    </span>
                                    <span ng-if="currentContract[0].contract_end_date !== contractLogDetails[0].contract_end_date" class="log_cahnge">
                                        {{contractLogDetails[0].contract_end_date | utcToLocal: 'date' | checkEmpty}}
                                    </span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="bold">{{'project.budjet_spend' | translate}}</td>
                            <td>{{currentContract[0].contract_value | currency : currentContract[0].currency_name+' ':0 | checkEmpty}}</td>
                            <td>
                                <span ng-if="!contractLogDetails[0].contract_value">---</span>
                                <span ng-if="contractLogDetails[0].contract_value">
                                    <span ng-if="(currentContract[0].contract_value === contractLogDetails[0].contract_value)
                                                && (currentContract[0].currency_name === contractLogDetails[0].currency_name)">
                                        {{contractLogDetails[0].contract_value | currency : contractLogDetails[0].currency_name+' ':0 | checkEmpty}}
                                    </span>
                                    <span ng-if="(currentContract[0].contract_value !== contractLogDetails[0].contract_value)
                                                || (currentContract[0].currency_name !== contractLogDetails[0].currency_name)"
                                        class="log_cahnge">
                                        {{contractLogDetails[0].contract_value | currency : contractLogDetails[0].currency_name+' ':0 | checkEmpty}}
                                    </span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="bold">{{'bussiness.bussiness_unit' | translate}}</td>
                            <td>{{currentContract[0].business_unit | checkEmpty}}</td>
                            <td>
                                <span ng-if="!contractLogDetails[0].business_unit">---</span>
                                <span ng-if="contractLogDetails[0].business_unit">
                                    <span ng-if="currentContract[0].business_unit === contractLogDetails[0].business_unit">
                                        {{contractLogDetails[0].business_unit | checkEmpty}}
                                    </span>
                                    <span ng-if="currentContract[0].business_unit !== contractLogDetails[0].business_unit" class="log_cahnge">
                                        {{contractLogDetails[0].business_unit | checkEmpty}}
                                    </span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="bold">{{'project.project_owner_name' | translate}}</td>
                            <td>{{currentContract[0].contract_owner_name | checkEmpty}}</td>
                            <td>
                                <span ng-if="!contractLogDetails[0].contract_owner_name">---</span>
                                <span ng-if="contractLogDetails[0].contract_owner_name">
                                    <span ng-if="currentContract[0].contract_owner_name === contractLogDetails[0].contract_owner_name">
                                        {{contractLogDetails[0].contract_owner_name | checkEmpty}}
                                    </span>
                                    <span ng-if="currentContract[0].contract_owner_name !== contractLogDetails[0].contract_owner_name" class="log_cahnge">
                                        {{contractLogDetails[0].contract_owner_name | checkEmpty}}
                                    </span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="bold">{{'contract.delegates' | translate}}</td>
                            <td>{{currentContract[0].delegate_user_name | checkEmpty}}</td>
                            <td>
                                <span ng-if="!contractLogDetails[0].delegate_user_name">---</span>
                                <span ng-if="contractLogDetails[0].delegate_user_name">
                                    <span ng-if="currentContract[0].delegate_user_name === contractLogDetails[0].delegate_user_name">
                                        {{contractLogDetails[0].delegate_user_name | checkEmpty}}
                                    </span>
                                    <span ng-if="currentContract[0].delegate_user_name !== contractLogDetails[0].delegate_user_name" class="log_cahnge">
                                        {{contractLogDetails[0].delegate_user_name | checkEmpty}}
                                    </span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="bold">{{'project.project_description' | translate}}</td>
                            <td>{{currentContract[0].description | checkEmpty}}</td>
                            <td>
                                <span ng-if="!contractLogDetails[0].description">---</span>
                                <span ng-if="contractLogDetails[0].description">
                                    <span ng-if="currentContract[0].description === contractLogDetails[0].description">
                                        {{contractLogDetails[0].description | checkEmpty}}
                                    </span>
                                    <span ng-if="currentContract[0].description !== contractLogDetails[0].description" class="log_cahnge">
                                        {{contractLogDetails[0].description | checkEmpty}}
                                    </span>
                                </span>
                            </td>
                        </tr>
                     
                        <tr>
                            <td class="bold">{{'contract.status' | translate}}</td>
                            <td>{{currentContract[0].project_status | checkEmpty}}</td>
                            <td>
                                <span ng-if="!contractLogDetails[0].project_status">---</span>
                                <span ng-if="contractLogDetails[0].project_status">
                                    <span ng-if="currentContract[0].project_status === contractLogDetails[0].project_status">
                                        {{contractLogDetails[0].project_status | checkEmpty}}
                                    </span>
                                    <span ng-if="currentContract[0].project_status !== contractLogDetails[0].project_status" class="log_cahnge">
                                        {{contractLogDetails[0].project_status | checkEmpty}}
                                    </span>
                                </span>
                            </td>
                        </tr>
                      
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row pt10">
            <div class="col-lg-12 p0 large-widget">
                <h6>{{'contract.deleted_file_log' | translate}}</h6>
                <table class="table table-custom table-striped table-hover" st-pipe="getContractDocLogs" st-table="contractFilesLogs">
                    <thead>
                        <tr>
                            <th style="width: 25%;" class="hand-symbol">{{'contract.file_name' | translate}}</th>
                            <th style="width: 25%;" class="hand-symbol" st-sort="action">{{'contract.action' | translate}}</th>
                            <th style="width: 25%;" class="hand-symbol" st-sort="first_name">{{'contract.deleted_user' | translate}}</th>
                            <th style="width: 25%;" class="hand-symbol">{{'contract.date' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in contractFilesLogs">
                            <td ng-if="row.document_type==0">
                                <a href="javascript:;" ng-click="getDownloadUrl(row)">
                                    <!-- <i class="icon-arrow-down-circle f14 display-inline-block pt4 valign-t"></i>&nbsp;&nbsp;{{row.document_name}}</a> -->
                                    <i class="fa fa-download" style="vertical-align: middle;margin-right:6px;"></i>{{row.document_name}}</a>

                                </td>
                            <td ng-if="row.document_type==1">
                                <a ng-click="redirectUrl(row.document_source)" href="javascript:;" title="{{row.document_source}}">
                                    <i class="fa fa-link f14 display-inline-block pt4 valign-t"></i>&nbsp;&nbsp;{{row.document_name}}</a>
                            </td>
                            <td>
                                <span>{{row.action}}</span>
                            </td>
                            <td>
                                <span ng-if="row.updated_by==0"> {{row.uploaded_user | checkEmpty }}</span>
                                <span ng-if="row.updated_by!=0">{{ row.updated_by_name | checkEmpty }}</span>
                            </td>
                            <td>
                                <span ng-if="row.updated_by==0">
                                    {{row.datetime | utcToLocal: 'toLocalTime' | checkEmpty}}
                                </span>
                                <span ng-if="row.updated_by!=0">
                                    {{row.updated_on | utcToLocal: 'toLocalTime' | checkEmpty}}
                                </span>
                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-show="isLoading">
                        <tr>
                            <td colspan="4" class="text-center">{{'general.loading' | translate}}</td>
                        </tr>
                    </tbody>
                    <tbody ng-show="contractFilesLogs.length==0">
                        <tr>
                            <td colspan="4" class="text-sm-center">{{'general.no_data' | translate}}</td>
                        </tr>
                    </tbody>
                    <tfoot class="body-bg">
                        <tr>
                            <td class="text-center" colspan="9">
                                <div class="paginator">
                                    <span class="paginator-num" st-pagination="" st-items-by-page="displayCount" class="text-sm-center"></span>
                                    <span class="paginator-dropdown" ng-if="totalRecords>10">
                                        <label>{{'general.records_per_page' | translate}}&nbsp;</label>
                                        <select ng-model="displayCount" ng-change="defaultPages(displayCount)"
                                            ng-options="item for item in pagesNumber" selected>
                                        </select>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>