<div class="modal-header">
    <h6 ng-if="contractModuleTopics.contract_details[0].reaaer == 'itako'"
        class="modal-title" id="modal-title">{{'general.add' | translate}} {{'links.attachments_links' | translate}}
        <a  ng-click="cancel()" title="{{'general.close' | translate}}" class=" pull-right icon-times"></a>
    </h6>
    <h6 ng-if="contractModuleTopics.contract_details[0].reaaer != 'itako'"
        class="modal-title" id="modal-title1">{{'attachment.question_attach' | translate}}
        <a  ng-click="cancel()" uib-tooltip="{{'general.close' | translate}}" class=" pull-right icon-times"></a>
    </h6>
</div>
<form novalidate name="questionFileForm" style="padding: 0px;">
    <uib-tabset active="active" class="clearfix" style="padding: 10px;">
        <uib-tab index="0" heading="{{'links.ad_attachment' | translate}}">
            <div class="col-sm-12 m-t-3 form-group p0" ng-show="contractModuleTopics.contract_details[0].reaaer == 'itako'">
                <attachment-files ng-model="attachments"></attachment-files>
            </div>
            <div class="p-b-1">
                <p ng-if="questionAttachmentList.length>0" ng-repeat="a in questionAttachmentList">
                    <a download="{{a.document_name}}" target="_blank" href="#" ng-click="getDownloadUrl(a)" download="{{a.document_name}}" class="ellipis" style="width: 95%;">
                        <!-- <i class="icon-arrow-down-circle f16"></i> {{a.document_name}}</a> -->
                        <i class="fa fa-download" style="vertical-align: middle;padding-right: 6px;"></i>{{a.document_name}}</a>

                    <a class="gray" href="#">
                        <i ng-if="(a.daad == 'itako') && (contractModuleTopics.contract_details[0].reaaer == 'itako') ||(user.access=='ca')" class="pull-right icon-trash m-t-1" uib-tooltip="{{'general.delete' | translate}}"
                            ng-click="deleteQuestionAttachment(a.id_document,a.document_name)"></i>
                    </a>
                    <span class="display-block f12 pl20">
                        <span class="gray">{{'attachment.uploaded_by' | translate}}:</span>&nbsp;<span>{{a.uploaded_user_name}}</span>
                        <span class="gray">{{'general.on' | translate}}:</span>&nbsp;<span>{{a.uploaded_on | utcToLocal:'toLocalDate'}}</span>
                    </span>
                </p>
                <p ng-show="!questionAttachmentList[0].document_name" class="text-sm-center">{{'attachment.no_files' | translate}}</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-primary" type="button" ng-if="contractModuleTopics.contract_details[0].reaaer == 'itako' && user1.iroori != 'itako'"
                        ng-click="addQuestionAttachemts(attachments)">
                    <i class="icon-plus"></i>&nbsp;{{'general.save' | translate}}
                </button>
                <button class="btn btn-sm btn-danger" type="button" ng-click="cancel()">
                    <i class="fa fa-ban"></i>&nbsp;{{'general.cancel' | translate}}
                </button>
            </div>
        </uib-tab>
        <uib-tab index="1" heading="{{'links.ad_link' | translate}}">
            <div class="clearfix" style="background: #EEEDF5; padding: 10px;" ng-show="contractModuleTopics.contract_details[0].reaaer == 'itako'">
                <ng-form name="linkForm" >
                    <div class="col-sm-5 pl0 ">
                        <input type="text" class="form-control" name="title" placeholder="{{'normal.placeholder_title' | translate}}" ng-model="contractLink.title" required>
                    </div>
                    <div class="col-sm-7 pl-0" style="display:-webkit-inline-box;padding-right: 5px; display:flex;">
                        <input type="text" style="width:86.5%" class="form-control" ng-model="contractLink.url" required placeholder="{{'normal.placeholder_add_link_url' | translate}}">
                        <span class="question-attachements-add-link">
                             <button type="button" style="padding: 0.03rem 0.5rem;"  title="{{'contract.verify_link' | translate}}" ng-disabled="!linkForm.$valid" class="btn btn-success" ng-click="verifyLink(contractLink)">
                                <span class="fa fa-plus"></span><p style="font-size:12px;margin-bottom:0px;">{{'links.ad_link' | translate}}</p></button> 
                        </span>
                    </div>
                </ng-form>
                <div class="col-sm-12  mt-1 p-b-1" ng-if="contractLinks.length" style="overflow-y: auto; overflow-x: hidden;">
                    <div class="list-header clearfix">
                        <label class="text-capitalize f14">{{'links.attached_links' | translate}}</label>
                    </div>
                    <div class="list-table mt5 mb5" style="max-height:250px;" ng-scrollbars="">
                        <ul class="list-items files-list">
                            <li class="clearfix" ng-repeat="link in contractLinks track by $index">        
                                <div class="col-sm-11 pr-0">
                                    <p class="f12 text-line m-0 p-h" title="{{link.url}}">{{link.title}}
                                    <span class="pl-h skyblue">( {{link.url}} )</span></p>
                                </div>
                                <div class="col-sm-1 pull-right">
                                    <a href="javascript:;" class="display-inline-block p-h" title="Remove" ng-click="removeLink($index)"> <i class="icon-trash gray"></i> </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="p-b-1" style="padding-top: 25px;">
                <p ng-if="questionLinkList.length>0" ng-repeat="a in questionLinkList">
                    <a  ng-click="redirectUrl(a.document_source)" href="javascript:;" class="ellipis" title="{{a.document_source}}"
                        style="cursor: pointer;width:95%"><i class="fa fa-link f16"></i> {{a.document_name}}</a>
                    <a class="gray" href="#">
                        <i ng-if="(a.daad == 'itako') && (contractModuleTopics.contract_details[0].reaaer == 'itako') ||(user.access=='ca')"
                         class="pull-right icon-trash" style="margin-top: 5px;" uib-tooltip="{{'general.delete' | translate}}"
                            ng-click=deleteQuestionAttachment(a.id_document,a.document_name)></i>
                    </a>
                    <span class="display-block f12 pl20">
                        <span class="gray">{{'links.uploaded_by' | translate}}:</span>&nbsp;<span>{{a.uploaded_user_name}}</span>
                        <span class="gray">{{'general.on' | translate}}:</span>&nbsp;<span>{{a.uploaded_on | utcToLocal:'toLocalDate'}}</span>
                    </span>
                </p>
                <p ng-show="!questionLinkList[0].document_source" class="text-sm-center pt20">{{'links.no_links' | translate}}</p>
            </div>                
            <div class="modal-footer clearfix">
                <button class="btn btn-sm btn-primary" type="submit"  ng-if="contractModuleTopics.contract_details[0].reaaer == 'itako' && user1.iroori != 'itako'"
                        ng-click="contractLinks && uploadLinks(contractLinks,data)">
                    <i class="icon-plus"></i>&nbsp;{{'general.save' | translate}}
                </button>
                <button class="btn btn-sm btn-danger" type="button" ng-click="cancel()">
                    <i class="fa fa-ban"></i>&nbsp;{{'general.cancel' | translate}}
                </button>
            </div>
        </uib-tab>
    </uib-tabset> 
</form>
<style>
.nav-tabs .nav-item{
    margin-bottom: 0px;
    padding: 0;
}
.tab-content .tab-pane{
    padding: 10px;
}
.nav-tabs{
    background: #FFF !important;
}
.nav.nav-tabs li:last-child{
    padding-right: 0px;
    margin: 0;
}
.nav.nav-tabs li:last-child {
    padding-right: 0px;
    margin: 0;
    margin-left: 0.2rem;
}
.nav-tabs .nav-item .nav-link {
    background: #FFF;
    color: #464646;
    text-align: center;
    min-width: 165px;
    border: 1px solid #ccc;
    border-bottom: none;
}
.pt20{
    padding-top: 20px;
}

.nav-tabs .nav-item.active .nav-link {
    background: #efefef5e;
    border-bottom-color: #FFF;
    border: 1px solid #ccc;
    border-bottom: 1px solid #f9f9f9;
    margin-bottom: -1px;
}
.tab-content{
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}
.question-attachements-add-link{
  position: absolute;
  right:0;
  float:left;
}
</style>