<div class="preview-modal">
    <div class="modal-header">
        <div>

            <span>{{'normal.version' | translate}}- <span class="bold">{{'v'}}{{versionInfo.version}}</span>
            <span>(</span>
            <span class="bold">{{'By'}}</span>
            <span class="text-gray">{{versionInfo.createdBy}}</span>
            <span class="bold">{{'on'}}</span>
            <span class="text-gray">{{versionInfo.created | utcToLocal: 'date' | checkEmpty}}{{')'}}</span>
         </span>

        </div>
        <div>
            <span style="color: #EF904F;">{{versionDetails.name}}</span>
        </div>
        <div>
            <span class="template-name">{{'templates.template' | translate}}:<span> {{versionInfo.name}}- {{versionDetails.language}}</span></span>
        </div>
    </div>

    <div class="modal-body clearfix">
    <div class="preview-data" ng-bind-html="previewData.html |  trusted">
    </div>

    <button class="btn btn-sm btn-danger pull-right" ng-click="cancel()">
        {{'general.close' | translate}}
    </button>
</div>
</div>


<style>
    .preview-modal{
        border: 1px solid #000;
    }
    .preview-modal .modal-header{
        display: flex;
        justify-content: space-between;
    }
    .preview-data h3{
        font-size: 14px;
    }
</style>