<div class="animated fadeIn">
<div class="row">
    <div class="col-sm-12 m-t-lg">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <strong>{{'error.validation_state' | translate}}</strong> {{'error.form' | translate}}
                </div>
                <div class="card-block">
                    <div class="form-group has-success">
                        <label class="form-form-control-label" for="inputSuccess1">{{'error.input_Success' | translate}}</label>
                        <input type="text" class="form-control" id="inputSuccess1">
                    </div>
                    <div class="form-group has-warning">
                        <label class="form-form-control-label" for="inputWarning1">{{'error.input_warning' | translate}}</label>
                        <input type="text" class="form-control" id="inputWarning1">
                    </div>
                    <div class="form-group has-danger">
                        <label class="form-form-control-label" for="inputError1">{{'error.input_error' | translate}}</label>
                        <input type="text" class="form-control" id="inputError1">
                    </div>
                </div>
            </div>
        </div>
        <!--/col-->
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <strong>{{'error.validation_state' | translate}}</strong> {{'error.optional_icons' | translate}}
                </div>
                <div class="card-block">
                    <div class="form-group has-success">
                        <label class="form-form-control-label" for="inputSuccess2">{{'error.input_Success' | translate}}</label>
                        <input type="text" class="form-control form-control-success" id="inputSuccess2">
                    </div>
                    <div class="form-group has-warning">
                        <label class="form-form-control-label" for="inputWarning2">{{'error.input_warning' | translate}}</label>
                        <input type="text" class="form-control form-control-warning" id="inputWarning2">
                    </div>
                    <div class="form-group has-danger has-feedback">
                        <label class="form-form-control-label" for="inputError2">{{'error.input_error' | translate}}</label>
                        <input type="text" class="form-control form-control-danger" id="inputError2">
                    </div>
                </div>
            </div>
        </div>
        <!--/col-->
    </div>

</div>
</div>