<div class="container d-table" id="loginPage">
    <div class="d-100vh-va-middle">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card-group">
                    <div class="card p-2">
                        <div class="card-block">
                            <p><img src="img/logowith.png"></p>
                            <form class="form-group" name="myForm" >
                                <h1><span>{{'general.invitation_expire' | translate}}</span></h1>
                                <span class="hint-text">{{'general.link_expire' | translate}}</span>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
