<div class="modal-header">
    <h6 class="modal-title" id="modal-title">{{title | translate}}
        <a ng-click="cancel()" title="{{'general.close' | translate}}" class=" pull-right icon-times"></a>
    </h6>
</div>
<div class="modal-body clearfix">
    <div class="card-block p-0">
        <form novalidate name="filterContractForm" style="padding: 0px;" ng-submit="filterContractForm.$valid && addContractFilter(filterCreate)">  
            <div class="row">
            <div class="form-group col-sm-6">
                <label>{{'contract.domain' | translate}} *</label>
                <select class="form-control"  name="domain" ng-model="filterCreate.master_domain_id" 
                    ng-change="getContractDomainFieldList(filterCreate.master_domain_id)"  ng-disabled="disable"
                    ng-options="item.id_master_domain as item.domain for item in contractFilter" required>
                    <option value="">--{{'events.select_domain' | translate}}--</option>
                        </select>
                <span ng-if="filterContractForm.domain.$error.required && filterContractForm.$submitted" class="error-message">{{'general.required_field' |translate}}</span>
            </div>
            <div class="clearfix"></div>
            <div class="form-group col-sm-6">
                <label>{{'contract.field' | translate}} *</label>
                <select class="form-control"  name="field_id" ng-model="filterCreate.master_domain_field_id" 
                    ng-change="getContractCondition(filterCreate.master_domain_field_id)" ng-disabled="disable"
                    ng-options="item.id_master_domain_fields as item.field_name for item in contractField" required>
                    <option value="">--{{'events.select_field' | translate}}--</option>        
                </select>
                <span ng-if="filterContractForm.field_id.$error.required && filterContractForm.$submitted" class="error-message">{{'general.required_field' |translate}}</span>
            </div>

            <div class="form-group col-sm-6">
                <label>{{'contract.condition' | translate}} *</label>
                <select class="form-control" name="condition" ng-model="filterCreate.condition" required>
                    <option value="">--{{'events.select_conditon' | translate}}--</option>
                    <option value="=">{{'contract.equals' | translate}}</option>
                    <option value="like" ng-if="fieldType=='numeric_text' || fieldType=='free_text'">{{'contract.contain' | translate}}</option>
                    <option value="<" ng-if="fieldType=='date'">{{'contract.smallerthan' | translate}}</option>
                    <option value=">" ng-if="fieldType=='date'">{{'contract.greaterthan' | translate}}</option>
                </select>
                <span ng-if="filterContractForm.condition.$error.required && filterContractForm.$submitted" class="error-message">{{'general.required_field' |translate}}</span>
            </div>
            <div class="clearfix"></div>
            <div class="form-group col-sm-12" ng-if="filterCreate.master_domain_field_id">
                <div ng-if="fieldType=='free_text'">
                    <label>{{'contract.value' | translate}} *</label>
                    <textarea type="text" maxlength="100" ng-model="filterCreate.value" class="form-control" name="value"  style="height: 80px;" required></textarea>
                    <span ng-if="filterContractForm.value.$error.required && filterContractForm.$submitted" class="error-message">{{'general.required_field' |translate}}</span>
                </div>
                
                <div  class="form-group col-sm-6 pl-0"ng-if ="fieldType=='date'">
                    <label>{{'contract.value' | translate}} *</label>
                    <div class="input-group clearfix form-group-custom">
                        <input type="text" class="form-control white-bg bg-white" min-date="toggleMin()" uib-datepicker-popup="dd-MM-yyyy" date-disabled="false"
                            data-ng-model="filterCreate.value"  name="dateField" is-open="openCal"
                            datepicker-options="{showWeeks:false}" show-button-bar="true" close-text="Close" readonly required/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default border" ng-click="openCal = true">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                    </div>
                    <span class="error-message" ng-if="filterContractForm.dateField.$error.required && filterContractForm.$submitted">{{'general.required_field' |translate}}</span>
                </div>
                
                <div class="form-group col-sm-6 pl-0" ng-if="feldName=='Relation'">
                    <label>{{'contract.value' | translate}} *</label>
                    <select chosen id="add-chosen" allow-single-deselect="true" 
                        multiple ng-model="filterCreate.value" name="value" class="chosen-choices" 
                        ng-options="item.id_provider as item.provider_name for item in providerList | orderBy:'provider_name'" required>
                    </select>
                <span class="error-message" ng-if="filterContractForm.value.$error.required && filterContractForm.$submitted">{{'general.required_field' |translate}}</span>
                </div>


                <div class="form-group col-sm-6 pl-0" ng-if="feldName=='Responsible user'">
                    <label>{{'contract.value' | translate}} *</label>
                    <select chosen id="add-chosen" allow-single-deselect="true" 
                        multiple ng-model="filterCreate.value" name="value" class="chosen-choices" 
                        ng-options="item.id_user as item.name for item in userList" required>
                    </select>
                <span class="error-message" ng-if="filterContractForm.value.$error.required && filterContractForm.$submitted">{{'general.required_field' |translate}}</span>
                </div>



                <div class="form-group col-sm-6 pl-0" ng-if="feldName=='Connected to'">
                    <label>{{'contract.value' | translate}} *</label>
                    <select chosen id="add-chosen" allow-single-deselect="true" 
                        multiple ng-model="filterCreate.value" name="value" class="chosen-choices" required>
                        <option value="Contract">{{'events.contract' | translate}}</option>
                        <option value="Project">{{'events.project' | translate}}</option>
                        <option value="Relation">{{'events.relation' | translate}}</option>
                        <option value="Review">{{'events.review' | translate}}</option>
                        <option value="Task">{{'events.task' | translate}}</option>
                    </select>
                    <span class="error-message" ng-if="filterContractForm.value.$error.required && filterContractForm.$submitted">{{'general.required_field' |translate}}</span>
                </div>

                <div class="form-group col-sm-6 pl-0" ng-if="feldName=='Status'">
                    <label>{{'contract.value' | translate}} *</label>
                    <select chosen id="add-chosen" allow-single-deselect="true" 
                    multiple ng-model="filterCreate.value" name="value" class="chosen-choices" required>
                        <option value="open">{{'events.open' | translate}}</option>
                        <option value="completed">{{'events.completed' | translate}}</option>
                    </select>
                    <span class="error-message" ng-if="filterContractForm.value.$error.required && filterContractForm.$submitted">{{'general.required_field' |translate}}</span>
                </div>

            <div class="form-group col-sm-6 pl-0" ng-if="feldName=='Priority'">
                <label>{{'contract.value' | translate}} *</label>
                <select chosen id="add-chosen" allow-single-deselect="true" 
                multiple ng-model="filterCreate.value" name="value" class="chosen-choices" required>
                    <option value="Urgent">{{'events.urgent' | translate}}</option>
                    <option value="Medium">{{'events.medium' | translate}}</option>
                    <option value="Low">{{'events.low' | translate}}</option>
                </select>
                <span class="error-message" ng-if="filterContractForm.value.$error.required && filterContractForm.$submitted">{{'general.required_field' |translate}}</span>
            </div>

            <div class="form-group col-sm-6 pl-0" ng-if="feldName=='Allocation'">
                <label>{{'contract.value' | translate}} *</label>
                <select chosen id="add-chosen" allow-single-deselect="true" 
                multiple ng-model="filterCreate.value" name="value" class="chosen-choices" required>
                    <option value="assigned_to_me">{{'events.assigned_me' | translate}}</option>
                    <option value="created_by_me">{{'events.create_by' | translate}}</option>
                </select>
                <span class="error-message" ng-if="filterContractForm.value.$error.required && filterContractForm.$submitted">{{'general.required_field' |translate}}</span>
                </div>
            </div>
            <div class="modal-footer form-group col-sm-12 text-right m-t-3 mb-0 pr-1">
                <button type="submit" class="btn btn-sm btn-primary">
                            <i class="fa fa-dot-circle-o"></i> {{bottom | translate}}</button>
                <button type="button" ng-click="cancel()" class="btn btn-sm btn-danger">
                            <i class="fa fa-ban"></i> {{'general.cancel' | translate}}</button>
            </div>
            
        </form>
    </div>
</div>
<style>
/* .advanced-filter-modal-header{
    margin: 0 15px;
    padding: 10px 0px;
    border-bottom: 2px solid #cbcaca;
}
.advanced-filter-modal-list i {
    color: #a3a2a2;
}
.advanced-filter-modal-list i.fa-trash{
    font-size: 16px;
} */
.modal-footer{
    padding-bottom: 0px;
}

.uib-button-bar button{
        margin-right: 5px;
    }
    .uib-button-bar .btn-group,
    .uib-close{
        float: none;
    }
    .uib-button-bar{
        padding-bottom: 10px;
    }
</style>